.keyboard-settings-section {
    display: flex;
    flex-direction: column;
}

.capture-non-alpha-numerics-hint {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin-left: 40px;
}
