<h3 class="hub-name"
    [class.hub-name_disconnected]="!isConnected"
    appEllipsisTitle>
    {{ name }}
</h3>

<mat-icon *ngIf="!isConnected"
          class="button-state"
          [title]="'hubIsNotConnected' | transloco"
          color="warn">
    link_off
</mat-icon>

<ng-container *ngIf="isButtonPressed; else buttonNotPressed">
    <mat-icon [title]="'hubButtonStateTitle' | transloco"
              class="button-state"
              [class.muted]="!isConnected"
    >
        radio_button_checked
    </mat-icon>
</ng-container>

<ng-template #buttonNotPressed>
    <mat-icon [title]="'hubButtonStateTitle' | transloco"
              class="button-state"
              [class.muted]="!isConnected"
    >
        radio_button_off
    </mat-icon>
</ng-template>

<mat-icon *ngIf="batteryLevel !== null"
          class="battery-level"
          [class.muted]="!isConnected"
          [title]="batteryLevel"
>
    {{ batteryLevelIcon }}
</mat-icon>

<mat-icon *ngIf="rssiLevel !== null"
          class="rssi-level"
          [class.muted]="!isConnected"
          [title]="rssiLevel"
>
    {{ rssiLevelIcon }}
</mat-icon>

<mat-icon class="has-communication-icon"
          [class.muted]="!hasCommunication || !isConnected"
>
    multiple_stop
</mat-icon>

<a mat-button
   class="view-button"
   [disabled]="!isConnected"
   [routerLink]="hubViewHref"
>
    {{ 'viewHub' | transloco }}
</a>

<button mat-button
        class="disconnect-button"
        [title]="'disconnectHub' | transloco"
        [disabled]="!isConnected"
        (click)="onDisconnectClick()"
>
    {{ 'disconnectHub' | transloco }}
</button>
