<a mat-line
   [routerLink]="hubViewHref"
   class="hub-name"
   appEllipsisTitle
>
    {{ name }}
</a>

<ng-container *ngIf="isButtonPressed; else buttonNotPressed">
    <mat-icon [title]="'hubButtonStateTitle' | transloco"
              class="button-state">radio_button_checked
    </mat-icon>
</ng-container>

<ng-template #buttonNotPressed>
    <mat-icon [title]="'hubButtonStateTitle' | transloco"
              class="button-state">radio_button_off
    </mat-icon>
</ng-template>

<mat-icon *ngIf="batteryLevel !== null"
          class="battery-level"
          [title]="batteryLevel"
>
    {{ batteryLevelIcon }}
</mat-icon>

<mat-icon *ngIf="rssiLevel !== null"
          class="rssi-level"
          [title]="rssiLevel"
>
    {{ rssiLevelIcon }}
</mat-icon>

<mat-icon class="has-communication-icon"
          [class.muted]="!hasCommunication"
>multiple_stop
</mat-icon>

<button mat-icon-button
        color="accent"
        class="disconnect-button"
        [title]="'disconnectHub' | transloco"
        (click)="onDisconnectClick()"
>
    <mat-icon>delete</mat-icon>
</button>
