:host {
    display: flex;
    align-items: center;
}

.hub-name {
    flex: 1;
}

.battery-level,
.rssi-level,
.button-state,
.disconnect-button,
.has-communication-icon {
    margin-left: 10px;
}

.has-communication-icon.muted {
    opacity: 30%;
}
