:host {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
}

.hub-name {
    flex: 1;
    margin: 0;
    font-weight: 500;
}

.battery-level,
.rssi-level,
.button-state,
.disconnect-button,
.view-button,
.has-communication-icon {
    margin-left: 10px;
}

.has-communication-icon.muted {
    opacity: 30%;
}
