<app-binding-edit-sections-container *ngIf="form">
    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionOutputTitle' | transloco"
    >
        <app-binding-select-hub [control]="form.controls.hubId"
                                [bindingType]="bindingType"
        ></app-binding-select-hub>

        <app-binding-control-select-io [portIdControl]="form.controls.portId"
                                       [hubIdControl]="form.controls.hubId"
                                       [bindingType]="bindingType"
        ></app-binding-control-select-io>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *appHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionInputTitle' | transloco"
    >
        <app-controller-select [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Accelerate]"
                               [title]="controlSchemeInputActions.Accelerate | controlSchemeInputActionToL10nKey | transloco "
        ></app-controller-select>

        <app-binding-control-select-input-gain *ngIf="isInputGainConfigurable"
                                               [translocoTitle]="'controlScheme.setSpeedBinding.accelerationInputGainTitle'"
                                               [control]="form.controls.inputs.controls[controlSchemeInputActions.Accelerate].controls.gain"
        ></app-binding-control-select-input-gain>

        <app-controller-select [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Brake]"
                               [title]="controlSchemeInputActions.Brake | controlSchemeInputActionToL10nKey | transloco "
        ></app-controller-select>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *appHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionConfigTitle' | transloco"
    >
        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.maxSpeed"
                            [translocoTitle]="'controlScheme.setSpeedBinding.outputSpeed'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.setSpeedBinding.outputPower'"
        ></app-slider-control>

        <app-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                            [control]="form.controls.invert"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </app-binding-edit-section>
</app-binding-edit-sections-container>
