<ng-container *ngIf="form">
    <app-controller-select [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Accelerate]"
                           [title]="controlSchemeInputActions.Accelerate | controlSchemeInputActionToL10nKey | transloco "
    ></app-controller-select>

    <ng-container *ngIf="isAccelerationInputAssigned">
        <app-controller-select *ngIf="!form.controls.isToggle.value"
                               [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Brake]"
                               [title]="controlSchemeInputActions.Brake | controlSchemeInputActionToL10nKey | transloco "
        ></app-controller-select>

        <app-binding-input-gain-select *ngIf="isInputGainConfigurable"
                                       [control]="form.controls.inputs.controls[controlSchemeInputActions.Accelerate].controls.gain"
        ></app-binding-input-gain-select>

        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.maxSpeed"
                            [translocoTitle]="'controlScheme.setSpeedBinding.outputSpeed'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.setSpeedBinding.outputPower'"
        ></app-slider-control>

        <app-toggle-control *ngIf="isToggleable"
                            [translocoTitle]="'controlScheme.setSpeedBinding.treatAsSwitch'"
                            [control]="form.controls.isToggle"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                            [control]="form.controls.invert"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
