:host {
    display: block;
}

.io-header {
    &-validation-errors {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }
}
