<mat-card *ngIf="binding">
    <mat-card-header>
        <mat-card-title>
            {{ 'bindingOutputSectionPortLabel' | transloco }} {{ binding.output.portId }}
        </mat-card-title>
        <div *ngIf="validation"
             class="io-header-validation-errors"
             aria-live="polite"
        >
            <ng-container *ngIf="validation.controllerIsMissing">
                <mat-icon color="warn"
                          [title]="'schemeBindingValidationControllerIsMissing' | transloco"
                          [fontIcon]="'gamepad'"
                ></mat-icon>
                <span class="cdk-visually-hidden">{{ 'schemeBindingValidationControllerIsMissing' | transloco }}</span>
            </ng-container>

            <ng-container *ngIf="validation.hubMissing">
                <mat-icon color="warn"
                          [title]="'schemeBindingValidationHubMissing' | transloco"
                          [fontIcon]="'memory'"
                ></mat-icon>
                <span class="cdk-visually-hidden">{{ 'schemeBindingValidationHubMissing' | transloco }}</span>
            </ng-container>

            <ng-container *ngIf="!validation.hubMissing && validation.ioMissing">
                <mat-icon color="warn"
                          [title]="'schemeBindingValidationHubIOIsMissing' | transloco"
                          [fontIcon]="'settings_input_hdmi'"
                ></mat-icon>
                <span class="cdk-visually-hidden">{{ 'schemeBindingValidationHubIOIsMissing' | transloco }}</span>
            </ng-container>

            <ng-container *ngIf="!validation.hubMissing && !validation.ioMissing && validation.ioCapabilitiesMismatch">
                <mat-icon color="warn"
                          [title]="'schemeBindingValidationHubIOCapabilitiesMismatch' | transloco"
                          [fontIcon]="'settings_input_svideo'"
                ></mat-icon>
                <span class="cdk-visually-hidden">{{ 'schemeBindingValidationHubIOCapabilitiesMismatch' | transloco }}</span>
            </ng-container>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="ioType !== undefined">
            {{ ioType | ioTypeToL10nKey | transloco }}
        </p>
        <ng-container *ngIf="lastExecutedTaskTemplateData">
            <p aria-live="polite">
                {{ lastExecutedTaskTemplateData.taskTypeL10nKey | transloco: lastExecutedTaskTemplateData.task }}
            </p>
        </ng-container>
    </mat-card-content>
</mat-card>
