:host {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    gap: 0 20px;
    flex-flow: wrap;
}

.port-config {
    display: flex;
    align-items: center;
    gap: 0 10px;
    flex-flow: wrap;
}

.port-profile {
    display: flex;
    align-items: center;
}
