<ng-container [ngSwitch]="connectionState$ | async">
    <button (click)="connect()"
            *ngSwitchCase="connectionStates.NotConnected"
            mat-button
    >
        {{ 'configureHub.connect' | transloco }}
    </button>
    <ng-container *ngSwitchCase="connectionStates.Connecting">
        {{ 'configureHub.connectingState' | transloco }}
    </ng-container>
    <ng-container *ngSwitchCase="connectionStates.Disconnecting">
        {{ 'configureHub.disconnectingState' | transloco }}
    </ng-container>
    <ng-container *ngSwitchCase="connectionStates.Connected">
        {{ 'configureHub.connectedState' | transloco }}
        <button (click)="disconnect()" mat-button>{{ 'configureHub.disconnect' | transloco }}</button>
    </ng-container>
</ng-container>
