.virtual-port-configuration {
    &_collapsed {
        border-radius: 0;
        box-shadow: none;
    }

    &_expanded {
        margin: 10px 0;
    }

    &__title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }

    &__port {
        font-weight: 500;
    }

    &__io-name {
        margin-left: 10px;
    }

    &__io-is-not-connected-notification,
    &__io-mismatch-notification {
        margin-left: 10px;
    }
}

.io-port {
    &_collapsed {
        box-shadow: none;
        border-radius: 0;
    }

    &_expanded {
        margin: 10px 0;
    }

    &__title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }

    &__can-be-merged {
        margin-left: 10px;
    }
}

.virtual-port-properties {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 10px;
        margin: 10px;
        align-items: center;
        line-height: 24px;
    }

    &__title {
        font-size: 15px;
        font-weight: 400;
        margin: 0;
    }

    &__value {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 15px;
        font-weight: 300;
    }
}
