<app-binding-edit-sections-container *ngIf="form">
    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionOutputTitle' | transloco"
    >
        <app-binding-control-select-hub [control]="form.controls.hubId"
                                        [bindingType]="bindingType"
        ></app-binding-control-select-hub>

        <app-binding-control-select-io [portIdControl]="form.controls.portId"
                                       [hubIdControl]="form.controls.hubId"
                                       [bindingType]="bindingType"
        ></app-binding-control-select-io>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *libHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionInputTitle' | transloco"
    >
        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.NextLevel]"
                                               [title]="controlSchemeInputActions.NextLevel | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>

        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.PrevLevel]"
                                               [title]="controlSchemeInputActions.PrevLevel | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>

        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Reset]"
                                               [title]="controlSchemeInputActions.Reset | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *libHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionConfigTitle' | transloco"
    >
        <div class="add-level-button-container">
            <button class="add-level-button"
                    mat-raised-button
                    (click)="addNextAngleLevel()"
            >
                {{ 'controlScheme.gearboxControlBinding.outputAngleLevelAdd' | transloco }}
            </button>
        </div>

        <div *ngFor="let angleControl of form.controls.angles.controls; let idx = index">
            <mat-form-field>
                <mat-label>
                    {{ 'controlScheme.gearboxControlBinding.angleLevel' | transloco: { level: form.controls.initialLevelIndex.value - idx } }}
                </mat-label>
                <input type="number"
                       matInput
                       [formControl]="angleControl"
                />
                <button mat-icon-button
                        matSuffix
                        [disabled]="!(canRequestPortValue$ | ngrxPush)"
                        [title]="'controlScheme.gearboxControlBinding.readAngleFromPort' | transloco"
                        (click)="onPortAbsolutePositionRequest(idx)"
                >
                    <mat-icon [fontIcon]="'gps_fixed'"></mat-icon>
                </button>
                <button mat-icon-button
                        matSuffix
                        [disabled]="form.controls.initialLevelIndex.value === idx"
                        (click)="removeAngleLevel(idx)"
                >
                    <mat-icon [fontIcon]="'delete'"></mat-icon>
                    <span class="cdk-visually-hidden">{{ 'controlScheme.gearboxControlBinding.outputAngleLevelRemove' | transloco }}</span>
                </button>
                <mat-error [libValidationMessages]="angleControl"></mat-error>
            </mat-form-field>
        </div>

        <div class="add-level-button-container">
            <button class="add-level-button"
                    mat-raised-button
                    (click)="addPrevAngleLevel()"
            >
                {{ 'controlScheme.gearboxControlBinding.outputAngleLevelAdd' | transloco }}
            </button>
        </div>

        <mat-error [libValidationMessages]="form.controls.angles"></mat-error>

        <mat-divider class="sections-divider"></mat-divider>

        <app-binding-control-speed-input [control]="form.controls.speed"></app-binding-control-speed-input>
        <app-binding-control-power-input [control]="form.controls.power"></app-binding-control-power-input>

        <app-binding-control-output-end-state [control]="form.controls.endState"
                                              [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-binding-control-output-end-state>

        <app-binding-control-select-looping-mode [control]="form.controls.loopingMode"></app-binding-control-select-looping-mode>

        <lib-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></lib-toggle-control>

        <lib-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></lib-toggle-control>
    </app-binding-edit-section>
</app-binding-edit-sections-container>
