<ng-container *ngIf="form">
    <app-controller-select [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.NextLevel]"
                           [title]="controlSchemeInputActions.NextLevel | controlSchemeInputActionToL10nKey | transloco "
    ></app-controller-select>

    <ng-container *ngIf="isNextAngleControlAssigned">
        <app-controller-select [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.PrevLevel]"
                               [title]="controlSchemeInputActions.PrevLevel | controlSchemeInputActionToL10nKey | transloco "
        ></app-controller-select>

        <div class="add-level-button-container">
            <button class="add-level-button"
                    mat-raised-button
                    (click)="addNextAngleLevel()">
                {{ 'controlScheme.angleShiftBinding.outputAngleLevelAdd' | transloco }}
            </button>
        </div>

        <div *ngFor="let angleControl of form.controls.angles.controls; let idx = index"
             class="level-input-container"
        >
            <app-binding-control-num-input [control]="angleControl"
                                           class="level-input"
                                           [controlTitle]="'controlScheme.angleShiftBinding.angleLevel' | transloco: { level: form.controls.initialStepIndex.value - idx }"
                                           [min]="minAngle"
                                           [max]="maxAngle"
            ></app-binding-control-num-input>
            <app-binding-control-read-motor-position [disabled]="!!(isQueryingPort$ | ngrxPush)"
                                                     [controlTitle]="'controlScheme.angleShiftBinding.readAngleFromPort' | transloco"
                                                     [portModeName]="portModeNames.absolutePosition"
                                                     [hubId]="form.controls.hubId.value"
                                                     [portId]="form.controls.portId.value"
                                                     (aposChange)="onAngleRead($event, idx)"
                                                     (isQueryingPortChange)="updateIsQueryingPort($event)"
            ></app-binding-control-read-motor-position>
            <button mat-icon-button
                    [disabled]="form.controls.initialStepIndex.value === idx"
                    (click)="removeAngleLevel(idx)"
            >
                <mat-icon [fontIcon]="'delete'"></mat-icon>
                <span class="cdk-visually-hidden">{{ 'controlScheme.angleShiftBinding.outputAngleLevelRemove' | transloco }}</span>
            </button>
        </div>

        <div class="add-level-button-container">
            <button class="add-level-button"
                    mat-raised-button
                    (click)="addPrevAngleLevel()">
                {{ 'controlScheme.angleShiftBinding.outputAngleLevelAdd' | transloco }}
            </button>
        </div>

        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.speed"
                            [translocoTitle]="'controlScheme.angleShiftBinding.outputSpeed'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.angleShiftBinding.outputPower'"
        ></app-slider-control>

        <app-binding-control-output-end-state [control]="form.controls.endState"
                                              [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-binding-control-output-end-state>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
