<mat-card *ngIf="form">
    <mat-card-header>
        <mat-card-title>
            <mat-form-field class="binding-type-select">
                <mat-label>{{ 'controlScheme.bindingOutputSectionOperationModeLabel' | transloco }}</mat-label>
                <mat-select [formControl]="form.controls.bindingType">
                    <ng-container *ngIf="availableBindingTypes$ | ngrxPush; let availableBindingTypes">
                        <mat-option *ngFor="let bindingType of availableBindingTypes"
                                    [value]="bindingType.bindingType">
                            {{ 'controlScheme.bindingOutputSectionOperationModeValue' | transloco: {
                            name: bindingType.bindingType | bindingTypeToL10nKey | transloco,
                            hubsCount: bindingType.hubsCount
                        } }}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *appRenderBindingDetailsEdit="form"></ng-container>
    </mat-card-content>
</mat-card>
