<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>
                {{ 'controlScheme.virtualPortsSectionTitle' | transloco }}
            </h2>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <ul>
                <mat-list-item *ngFor="let virtualPort of rawVirtualPorts; let idx = index; trackBy: trackVirtualPortFn">
                    <li>
                        <div class="virtual-port__list-item">
                            <span class="virtual-port__name"
                                  appEllipsisTitle
                            >
                                {{ virtualPort.name }}
                            </span>
                            <span class="virtual-port__hub-name"
                                  appEllipsisTitle
                            >
                                {{ virtualPort.hubId | hubIdToName | ngrxPush }}
                            </span>
                            <span class="virtual-port__port-a-io"
                                  appEllipsisTitle
                            >
                                {{ virtualPort.portIdA }} : {{ virtualPort.ioAType | ioTypeToL10nKey | transloco }}
                            </span>
                            <span class="virtual-port__port-b-io"
                                  appEllipsisTitle
                            >
                                {{ virtualPort.portIdB }} : {{ virtualPort.ioBType | ioTypeToL10nKey | transloco }}
                            </span>
                            <span class="virtual-port__controls">
                                <button mat-button
                                        (click)="onDelete(idx)"
                                >
                                    {{ 'controlScheme.virtualPortDeleteButtonTitle' | transloco }}
                                </button>
                            </span>
                        </div>
                    </li>
                </mat-list-item>
            </ul>
        </mat-list>
    </mat-card-content>
</mat-card>
