.virtual-port {
    &__list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__name {
        width: 100px;
    }

    &__hub-name {
        margin-left: 20px;
        width: 150px;
    }

    &__port-a-io {
        margin-left: 20px;
        flex-grow: 1;
    }

    &__port-b-io {
        margin-left: 20px;
        flex-grow: 1;
    }

    &__controls {
        margin-left: 20px;
        flex-shrink: 1;
    }
}
