<app-widget [title]="title"
            [subTitle]="subtitle"
            [canBeEdited]="canBeEdited"
            [canBeDeleted]="canBeDeleted"
            (edit)="onEdit()"
            (delete)="onDelete()"
>
    <ng-container *ngIf="data !== undefined; else noData">
        {{ 'controlScheme.widgets.temperature.value' | transloco: { temperature: (data | number: '1.1-1') } }}
    </ng-container>
    <ng-template #noData>
        <mat-icon [fontIcon]="'question_mark'"></mat-icon>
        <span class="cdk-visually-hidden">{{ 'controlScheme.widgets.temperature.noDataTitle' | transloco }}</span>
    </ng-template>
</app-widget>
