:host {
    display: flex;
    flex-direction: column;
}

.output-form {
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.not-connected-icon {
    margin-right: 10px;
    line-height: 35px; // hack to vertically center icon
}
