<ng-container *ngIf="formControl">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'bindingOutputSection' | transloco }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field>
                <mat-label>Hub</mat-label>
                <mat-select [formControl]="formControl.controls.hubId">
                    <mat-option *ngFor="let hubConfiguration of (hubsList$ | ngrxPush)"
                                [value]="hubConfiguration.hubId">
                        {{ hubConfiguration.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'bindingOutputSectionPortLabel' | transloco }}</mat-label>
                <mat-select [formControl]="formControl.controls.portId">
                    <mat-select-trigger>
                        {{ formControl.controls.portId.value }}: {{ (ioType$ | ngrxPush)! | ioTypeToL10nKey | transloco }}
                    </mat-select-trigger>
                    <mat-option *ngFor="let io of (availableIOs$ | ngrxPush)"
                                [value]="io.portId">
                        {{ io.portId }}: {{ io.ioType | ioTypeToL10nKey | transloco }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'bindingOutputSectionOperationModeLabel' | transloco }}</mat-label>
                <mat-select [formControl]="formControl.controls.operationMode">
                    <mat-option *ngFor="let ioOperationMode of availableIOOperationModes$ | ngrxPush"
                                [value]="ioOperationMode">
                        {{ ioOperationMode | ioOperationTypeToL10nKey | transloco }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'bindingConfigurationSection' | transloco }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <pre>{{ formControl.controls.configuration.getRawValue() | json }}</pre>
        </mat-card-content>
    </mat-card>
</ng-container>
