<div *ngIf="binding"
     class="binding-info-container"
>
    <ng-container *ngIf="binding.controller; else unknownController">
        <mat-icon
            class="controller-type-icon binding-info-item"
            [fontIcon]="binding.controller.controllerType | controllerTypeIcon"
        ></mat-icon>
        <span class="cdk-visually-hidden">
            {{ binding.controller.controllerType | controllerL10nType | transloco | ngrxPush }}
        </span>
        <div class="controller-input-name binding-info-item"
             appEllipsisTitle
        >
            {{ binding.controller | controllerL10nName | transloco | ngrxPush }} :
            {{ binding.inputId | controllerL10nInputName: binding.inputType : binding.controller | ngrxPush }}
        </div>
        <div class="not-connected-icon">
            <app-not-connected-inline-icon *ngIf="!binding.controllerIsConnected"
                                           [notification]="'controller.isNotConnectedInlineNotification' | transloco"
            ></app-not-connected-inline-icon>
        </div>
    </ng-container>
    <ng-template #unknownController>
        <mat-icon class="controller-type-icon binding-info-item"
                  [fontIcon]="'question_mark'"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'controller.unknownController' | transloco }}</span>
    </ng-template>

    <mat-icon class="is-active-indicator binding-info-item"
              [class.is-active-indicator_hidden]="!binding.isActive"
              [fontIcon]="'keyboard_double_arrow_right'"
              [color]="'primary'"
    ></mat-icon>

    <mat-icon class="operation-mode__capabilities binding-info-item"
              [class.operation-mode__capabilities_match]="!binding.ioHasNoRequiredCapabilities"
              [fontIcon]="'warning'"
              [color]="'warn'"
              [title]="'controlScheme.ioCapabilitiesMismatch' | transloco"
    ></mat-icon>
    <span *ngIf="binding.ioHasNoRequiredCapabilities"
          class="cdk-visually-hidden">
        {{ 'controlScheme.ioCapabilitiesMismatch' | transloco }}
    </span>

    <div class="operation-mode binding-info-item"
         appEllipsisTitle
    >
        {{ binding.operationMode | ioOperationTypeToL10nKey | transloco }}
    </div>
</div>
