:host {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.binding {
    &__general-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__activity-indicator {
        margin: 0 5px;

        &_inactive {
            visibility: hidden;
        }
    }

    &__operation-type {
        width: 100px;
        font-weight: 500;
        font-size: 16px;

        &_capabilities-mismatch-icon {
            margin: 0 5px;

            &_hidden {
                visibility: hidden;
            }
        }
    }

    &__controls {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-connection-state {
            margin: 0 5px;

            &_connected {
                visibility: hidden;
            }
        }
    }
}
