<ng-container *ngIf="viewModel$ | ngrxPush; let viewModel">
    <div class="binding__general-info">
        <ng-container *ngIf="!viewModel.ioHasNoRequiredCapabilities; else ioCapabilitiesMismatch">
            <div class="binding__operation-type"
                 [class.binding__operation-type_active]="viewModel.isActive"
            >
                {{ viewModel.operationMode | ioOperationTypeToL10nKey | transloco }}
            </div>
        </ng-container>
        <ng-template #ioCapabilitiesMismatch>
            <mat-error class="binding__operation-type">
                {{ viewModel.operationMode | ioOperationTypeToL10nKey | transloco }}
            </mat-error>
            <span class="cdk-visually-hidden">
                {{ 'controlScheme.ioCapabilitiesMismatch' | transloco }}
            </span>
        </ng-template>
    </div>
    <ng-container *ngFor="let controlData of viewModel.controlData">
        <div class="binding__controls">
            <app-full-controller-input-name class="binding__controls-label"
                                            [class.binding__controls-label_disconnected]="!controlData.isControllerConnected"
                                            [controllerId]="controlData.controllerId"
                                            [inputId]="controlData.inputId"
                                            [inputType]="controlData.inputType"
                                            [showDisconnectedState]="true"
            ></app-full-controller-input-name>
        </div>
    </ng-container>
</ng-container>
