:host {
    display: block;
    width: 100%;
    overflow: hidden;
}

.binding-info-container {
    display: flex;
    align-items: center;
}

.binding-info-item {
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.controller-type-icon {
    width: 24px;
    flex-shrink: 0;
}

.controller-input-name {
    flex: 1;
    min-width: 80px;
    max-width: 250px;
}

.controller {
    &__disconnected-notification {
        flex-shrink: 1;
    }
}

.operation-mode {
    flex: 1;
    font-weight: 500;

    &__capabilities {
        flex: 0;
        margin-left: 10px;
        min-width: 24px;

        &_match {
            visibility: hidden;
        }

    }
}

.is-active-indicator {
    width: 24px;

    &_hidden {
        visibility: hidden;
    }
}
