<ng-container *ngIf="editedHubConfiguration$ | ngrxPush; let hubConfiguration; else hubIsNotFound">
    <app-hub-edit-form *ngIf="isHubConnected$ | ngrxPush; else hubIsNotConnected"
                       [hubConfiguration]="hubConfiguration"
                       [isSaving]="isSaving$ | ngrxPush"
                       (save)="onSave($event)"
    ></app-hub-edit-form>

    <ng-template #hubIsNotConnected>
        <app-hint>{{ 'hub.isNotConnectedEditNotification' | transloco: hubConfiguration }}</app-hint>
    </ng-template>
</ng-container>

<ng-template #hubIsNotFound>
    <app-hint>{{ 'hub.isNotFoundTitle' | transloco }}</app-hint>
</ng-template>
