:host {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.spacer {
    flex: 1;
}

.battery-level,
.rssi-level,
.button-state,
.disconnect-button,
.view-button,
.has-communication-icon {
    margin-left: 10px;
}
