:host {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content {
    margin-top: var(--main-toolbar-height);
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
}

.progress-bar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}
