.info {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 56px;

    &__name {
        margin: 0 0 0 30px;

        &-edit-field,
        &-edit-form {
            width: 100%;
        }
    }
}
