<ng-container *ngIf="isEditing; else view">
    <section class="info">
        <form class="info__name-edit-form"
              (submit)="onSave($event)"
        >
            <mat-form-field class="info__name-edit-field">
                <mat-label>{{ 'controlScheme.nameField' | transloco }}</mat-label>
                <input matInput
                       type="text"
                       [formControl]="nameFormControl"
                />
                <button mat-icon-button
                        matSuffix
                        [disabled]="!canSave()"
                        (click)="onSave($event)"
                        [attr.aria-label]="'controlScheme.editNameSaveButtonTitle' | transloco"
                >
                    <mat-icon [fontIcon]="'save'"></mat-icon>
                </button>
                <button mat-icon-button
                        matSuffix
                        (click)="onCancel()"
                        [attr.aria-label]="'controlScheme.editNameCancelButtonTitle' | transloco"
                >
                    <mat-icon [fontIcon]="'cancel'"></mat-icon>
                </button>
            </mat-form-field>
        </form>
    </section>
</ng-container>

<ng-template #view>
    <section class="info">
        <h2 class="info__name"
            libEllipsisTitle
        >
            {{ name }}
        </h2>
        <button mat-icon-button
                (click)="onEditMode()"
                [attr.aria-label]="'controlScheme.editNameButtonTitle' | transloco"
        >
            <mat-icon [fontIcon]="'edit'"></mat-icon>
        </button>
    </section>
</ng-template>
