<app-widget [title]="'controlScheme.widgets.voltage.name' | transloco"
            [subTitle]="subtitle$  | ngrxPush"
            [canBeEdited]="canBeEdited"
            [canBeDeleted]="canBeDeleted"
            (edit)="onEdit()"
            (delete)="onDelete()"
>
    <ng-container *ngrxLet="voltage$; let voltage">
        <ng-container *ngIf="voltage !== null; else noData">
            {{ 'controlScheme.widgets.voltage.value' | transloco: { voltage } }}
        </ng-container>
        <ng-template #noData>
            <mat-icon [fontIcon]="'question_mark'"></mat-icon>
            <span class="cdk-visually-hidden">{{ 'widget.noData' | ngrxPush }}</span>
        </ng-template>
    </ng-container>
</app-widget>
