<ng-container *ngIf="form">
    <app-controller-select [controllerIdFormControl]="form.controls.controllerId"
                           [inputIdFormControl]="form.controls.inputId"
                           [operationMode]="stepperHubIoOperationMode"
                           [inputTypeControl]="form.controls.inputType"
                           [title]="'controlScheme.bindingGenericInputTitle' | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.controllerId.valid && form.controls.inputId.valid">
        <app-output-num-input-control [translocoTitle]="'controlScheme.stepperOutputConfigurationDegree'"
                                      [control]="form.controls.degree"
                                      [min]="minStepperDegree"
                                      [max]="maxStepperDegree"
        ></app-output-num-input-control>

        <app-output-config-slider-control [min]="minSpeed"
                                          [max]="maxSpeed"
                                          [control]="form.controls.speed"
                                          [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
        ></app-output-config-slider-control>

        <app-output-config-slider-control [min]="minPower"
                                          [max]="maxPower"
                                          [control]="form.controls.power"
                                          [translocoTitle]="'controlScheme.outputPowerControlTitle'"
        ></app-output-config-slider-control>

        <app-output-end-state-selector [control]="form.controls.endState"
                                       [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-output-end-state-selector>
    </ng-container>
</ng-container>
