<ng-container *ngrxLet="controllersWithSettings$ as controllersWithSettings">
    <ng-container *ngIf="controllersWithSettings.length; else noConnectedControllers">
        <p class="detect-controller-notification-tips">{{ 'controller.detectControllerTip' | transloco }}</p>
        <ul>
            <li *ngFor="let controllerWithSettings of controllersWithSettings; trackBy: controllerTrackById">
                <app-controllers-list-item [controller]="controllerWithSettings"
                                           (settingsChanges)="controllerSettingsUpdate(controllerWithSettings.controller.id, $event)"
                ></app-controllers-list-item>
            </li>
        </ul>
    </ng-container>

    <ng-template #noConnectedControllers>
        <h3 class="no-controller-connected-notification-header">{{ 'controller.noControllerConnected' | transloco }}</h3>
        <p class="detect-controller-notification-tips">{{ 'controller.detectControllerTip' | transloco }}</p>
    </ng-template>
</ng-container>
