<ng-container *ngrxLet="controllersWithSettings$ as controllersWithSettings">
    <ng-container *ngIf="controllersWithSettings.length; else noConnectedControllers">
        <ul>
            <li *ngFor="let controllerWithSettings of controllersWithSettings; trackBy: controllerTrackById"
                class="card-list-item"
            >
                <app-controllers-list-item [controller]="controllerWithSettings"
                                           (settingsChanges)="controllerSettingsUpdate(controllerWithSettings.controller.id, $event)"
                ></app-controllers-list-item>
            </li>
        </ul>
    </ng-container>

    <ng-template #noConnectedControllers>
        <h3 class="no-controller-connected-notification-header">{{ 'controller.noControllerConnected' | transloco }}</h3>
        <app-hint>
            {{ 'controller.detectControllerTip' | transloco }}
        </app-hint>
    </ng-template>
</ng-container>
