:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.no-controller-connected-notification-header {
    font-weight: 300;
    margin: 0;
    padding: 10px 8px;
    font-size: 20px;
}

.delimiter {
    margin: 10px;
}

.detect-controller-notification-tips {
    font-weight: 300;
    margin: 0;
    padding: 20px 30px;
    font-size: 18px;
}
