:host {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

    &.is-small-screen {
        flex-direction: column-reverse;
    }

    overflow: hidden;
}

$content-padding: 10px;

.content {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    padding: $content-padding 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        max-width: 1280px;
        width: calc(100% - 2 * $content-padding);
        padding: 0 $content-padding;
    }
}

.progress-bar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}
