<ng-container *ngIf="outputBinding">
    <p>
        <mat-slide-toggle *ngIf="inputMethodControl?.value === gamepadInputMethod.Button"
                          [formControl]="outputBinding.controls.configuration.controls.isToggle">
            {{ 'schemeOutputBindingConfigurationLinearToggleParameter' | transloco }}
        </mat-slide-toggle>
    </p>
    <mat-form-field>
        <mat-label *ngIf="inputMethodControl?.value === GamepadInputMethod.Button; else maximumSpeedLabel">
            {{ 'schemeOutputBindingConfigurationLinearSpeedParameter' | transloco }}
        </mat-label>
        <ng-template #maximumSpeedLabel>
            <mat-label>
                {{ 'schemeOutputBindingConfigurationLinearMaximumSpeedParameter' | transloco }}
            </mat-label>
        </ng-template>
        <input matInput type="text" [formControl]="outputBinding.controls.configuration.controls.maxSpeed">
    </mat-form-field>
    <p>
        <mat-slide-toggle [formControl]="outputBinding.controls.configuration.controls.invert">
            {{ 'schemeOutputBindingConfigurationLinearInvertParameter' | transloco }}
        </mat-slide-toggle>
    </p>

    <mat-form-field>
        <mat-label>
            {{ 'schemeOutputBindingConfigurationLinearPowerParameter' | transloco }}
        </mat-label>
        <input matInput type="text" [formControl]="outputBinding.controls.configuration.controls.power">
    </mat-form-field>
</ng-container>
