<app-widget [title]="title"
            [canBeEdited]="canBeEdited"
            [canBeDeleted]="canBeDeleted"
            (edit)="onEdit()"
            (delete)="onDelete()"
>
    <div class="tilt-content"
         *ngrxLet="tiltData$ as tilt"
    >
        <app-yaw-indicator [yaw]="tilt?.yaw ?? undefined"></app-yaw-indicator>
        <app-pitch-indicator [pitch]="tilt?.pitch ?? undefined"></app-pitch-indicator>
        <app-roll-indicator [roll]="tilt?.roll ?? undefined"></app-roll-indicator>
        <div class="tilt-reset-buttons">
            <button mat-raised-button
                    [disabled]="!tilt"
                    (click)="onCompensateTilt(tilt)"
            >
                {{ 'controlScheme.widgets.tilt.compensateTiltButtonTitle' | transloco }}
            </button>
            <button mat-raised-button
                    [disabled]="!tilt"
                    (click)="onResetTiltCompensation()"
            >
                {{ 'controlScheme.widgets.tilt.resetTiltCompensationButtonTitle' | transloco }}
            </button>
        </div>
    </div>
</app-widget>
