<h2>
    {{ 'controlScheme.bindingInputSection' | transloco }}
</h2>

<p>
    {{ controllerNameL10nKey$ | ngrxPush | transloco }}
</p>

<p>
    {{ inputName$ | ngrxPush }}
</p>

<ng-container [ngSwitch]="inputType$ | ngrxPush">
    <p *ngSwitchCase="inputTypes.Button">
        {{ buttonStateL10nKey$ | ngrxPush | transloco: (inputValue$ | ngrxPush) }}
    </p>
    <p *ngSwitchCase="inputTypes.Axis">
        {{ axisStateL10nKey$ | ngrxPush | transloco: (inputValue$ | ngrxPush) }}
    </p>
</ng-container>

<p>
    <button mat-raised-button
            (click)="onRebind()"
    >
        {{ 'controlScheme.bindToAnotherInputButtonTitle' | transloco }}
    </button>
</p>
