<h2>
    {{ 'controlScheme.bindingInputSection' | transloco }}
</h2>

<div class="controller-name">
    {{ controllerNameL10nKey$ | ngrxPush | transloco }}
    <app-not-connected-inline-icon *ngIf="!(isControllerConnected$ | ngrxPush)"
                                   [notification]="'controller.isNotConnectedInlineNotification' | transloco"
    ></app-not-connected-inline-icon>
</div>

<div class="controller-input-name"
     [ngSwitch]="inputType$ | ngrxPush">
    {{ inputName$ | ngrxPush }}
    <span *ngSwitchCase="inputTypes.Button">
        ({{ buttonStateL10nKey$ | ngrxPush | transloco: (inputValue$ | ngrxPush) }})
    </span>
    <span *ngSwitchCase="inputTypes.Axis">
        ({{ axisStateL10nKey$ | ngrxPush | transloco: (inputValue$ | ngrxPush) }})
    </span>
</div>

<p>
    <button mat-raised-button
            (click)="onRebind()"
    >
        {{ 'controlScheme.bindToAnotherInputButtonTitle' | transloco }}
    </button>
</p>
