<lib-cs-binding-edit [binding]="binding$ | ngrxPush"
                  #binding="appBindingEdit"
></lib-cs-binding-edit>

<div *libFeatureToolbarControls>
    <button mat-raised-button
            class="toolbar-button"
            [disabled]="!(binding.canSave$ | ngrxPush)"
            (click)="onSave(binding.getValue())">
        {{ 'controlScheme.saveEdited' | transloco }}
    </button>
    <button mat-raised-button
            class="toolbar-button"
            [color]="'warn'"
            (click)="onDelete()"
    >
        {{ 'controlScheme.deleteBinding' | transloco }}
    </button>
    <button mat-raised-button
            class="toolbar-button"
            (click)="onCancel()"
    >
        {{ 'controlScheme.cancelEdit' | transloco }}
    </button>
</div>
