:host {
    display: block;
    width: 100%;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.toolbar {
    height: var(--main-toolbar-height);

    &__compact {
        height: var(--main-toolbar-compact-height);
    }
}

.title {
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 200px;

    &__compact {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-nav-items {
    display: grid;
    grid-column-gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
}

.right-side-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.about-button,
.discover-hub-button {
    margin-left: 20px;
}

.discover-hub-button {
    border: 4px solid #162256;
}

.counter {
    opacity: 0.5;
}

.active-link {
    //background: rgba(0, 0, 0, .2);
}
