<mat-toolbar color="primary"
             class="toolbar">
    <nav class="nav">
        <span class="title">
            {{ 'appTitle' | transloco }}
        </span>

        <span class="main-nav">
            <span class="main-nav-items">
                <a mat-button
                   [routerLink]="routePaths.controllerList"
                   [routerLinkActive]="'active-link'"
                >
                    <mat-icon>
                        gamepad
                    </mat-icon>
                    {{ 'controllersList' | transloco }}
                    <span *ngIf="connectedControllersCount$ | ngrxPush; let count"
                          class="counter"
                    >
                        ({{ count }})
                    </span>
                </a>
                <a mat-button
                   [routerLink]="routePaths.hubList"
                   [routerLinkActive]="'active-link'"
                >
                    <mat-icon>
                        memory
                    </mat-icon>
                    {{ 'hubsList' | transloco }}
                    <span *ngIf="connectedHubCount$ | ngrxPush; let count"
                          class="counter"
                    >
                        ({{ count }})
                    </span>
                </a>
                <a mat-button
                   [routerLink]="routePaths.controlSchemeList"
                   [routerLinkActive]="'active-link'"
                >
                    <mat-icon>
                        display_settings
                    </mat-icon>
                    {{ 'controlSchemesList' | transloco }}
                    <span *ngIf="controlSchemesCount$ | ngrxPush; let count"
                          class="counter"
                    >
                        ({{ count }})
                    </span>
                </a>
            </span>
        </span>

        <span class="right-side-nav">
            <ng-container *ngIf="isBluetoothAvailable | ngrxPush; else bluetoothUnavailable">
                <button mat-fab
                        class="discover-hub-button"
                        color="accent"
                        [title]="'discoverHub' | transloco"
                        (click)="startDiscovery()"
                        [disabled]="isDiscoveryBusy$ | ngrxPush"
                >
                    <mat-icon>
                        bluetooth_searching
                    </mat-icon>
                </button>
            </ng-container>

            <ng-template #bluetoothUnavailable>
                <a mat-fab
                   color="warn"
                   class="no-bluetooth-indicator"
                   [routerLink]="routePaths.bluetoothUnavailable"
                   [title]="'bluetoothUnavailableToolbarTitle' | transloco"
                   appEllipsisTitle
                >
                    <mat-icon>
                        bluetooth_disabled
                    </mat-icon>
                </a>
            </ng-template>

            <a mat-icon-button
               class="about-button"
               [routerLink]="routePaths.about"
               [routerLinkActive]="'active-link'"
               [title]="'aboutPageButton' | transloco"
               appEllipsisTitle
            >
                <mat-icon>
                    info
                </mat-icon>
            </a>
        </span>
    </nav>

</mat-toolbar>
