<ng-container *ngIf="selectedScheme$ | ngrxPush; let scheme; else schemeNotFound">
    <ng-template #controlsTemplate>
        <ng-container *ngrxLet="canRunScheme$; let canRunScheme">
            <span class="spacer"></span>

            <button mat-raised-button
                    class="toolbar-button"
                    [disabled]="!canRunScheme"
                    (click)="runScheme(scheme.id)"
            >
                {{ 'controlScheme.run' | transloco }}
            </button>

            <button mat-raised-button
                    class="toolbar-button"
                    [disabled]="!(isCurrentControlSchemeRunning$ | ngrxPush)"
                    (click)="stopRunningScheme()"
            >
                {{ 'controlScheme.stop' | transloco }}
            </button>

            <a *ngIf="!(isCurrentControlSchemeRunning$ | ngrxPush)"
               mat-raised-button
               class="toolbar-button"
               [routerLink]="editSchemeRoute$ | ngrxPush"
            >
                {{ 'controlScheme.edit' | transloco }}
            </a>
        </ng-container>
    </ng-template>

    <section class="ios">
        <app-control-scheme-view-io-list [tree]="schemeViewTree$ | ngrxPush"></app-control-scheme-view-io-list>
    </section>
</ng-container>

<ng-template #schemeNotFound>
    <h3 class="scheme-is-not-found">{{ 'controlScheme.notFound' | transloco }}</h3>
</ng-template>
