<mat-card class="settings-card">
    <mat-card-content>
        <ul class="options__list">
            <li class="option__container">
                <app-theme-select [theme]="currentTheme()"
                                  (themeChange)="onThemeChange($event)"
                ></app-theme-select>
            </li>
            <li class="option">
                <app-language-select [language]="currentLanguage()"
                                     (languageChange)="onLanguageChange($event)"
                ></app-language-select>
            </li>
        </ul>

        <mat-divider></mat-divider>

        <section class="debug-actions">
            <button mat-raised-button
                    class="debug-actions__button"
                    (click)="onStateDump()"
            >
                {{ 'settings.createStateBackupButtonTitle' | transloco }}
            </button>

            <button mat-raised-button
                    class="debug-actions__button"
                    (click)="onStateRestore()"
            >
                {{ 'settings.restoreStateFromBackupButtonTitle' | transloco }}
            </button>

            <button mat-raised-button
                    [color]="'warn'"
                    class="debug-actions__button"
                    (click)="onStateReset()"
            >
                {{ 'settings.resetStateButtonTitle' | transloco }}
            </button>
        </section>
    </mat-card-content>
</mat-card>
