<ng-container *ngIf="isActive; else buttonNotPressed">
    <mat-icon [title]="activeTitle"
              class="button-state"
              [fontIcon]="'radio_button_checked'"
              [color]="'primary'"
    ></mat-icon>
    <span class="cdk-visually-hidden">{{ activeTitle }}</span>
</ng-container>

<ng-template #buttonNotPressed>
    <mat-icon [title]="inactiveTitle"
              class="button-state"
              [fontIcon]="'radio_button_off'"
    ></mat-icon>
    <span class="cdk-visually-hidden">{{ inactiveTitle }}</span>
</ng-template>
