<mat-toolbar color="primary"
             class="toolbar">
    <nav class="nav">
        <h1 class="title">
            {{ 'appTitle' | transloco }}
        </h1>

        <span class="main-nav">
            <span class="main-nav-items">
                <a mat-button
                   [routerLink]="routesBuilderService.controllersList"
                   [routerLinkActive]="'active-link'"
                   [attr.aria-label]="'nav.controllersList' | transloco"
                >
                    <mat-icon [fontIcon]="'gamepad'"></mat-icon>
                    {{ 'nav.controllersList' | transloco }}
                    <span *ngIf="connectedControllersCount"
                          class="counter"
                    >
                        ({{ connectedControllersCount }})
                    </span>
                </a>

                <a mat-button
                   [routerLink]="routesBuilderService.hubsList"
                   [routerLinkActive]="'active-link'"
                >
                    <mat-icon [fontIcon]="'memory'"></mat-icon>
                    {{ 'nav.hubsList' | transloco }}
                    <span *ngIf="connectedHubCount"
                          class="counter"
                    >
                        ({{ connectedHubCount }})
                    </span>
                </a>

                <a mat-button
                   [routerLink]="routesBuilderService.controlSchemesList"
                   [routerLinkActive]="'active-link'"
                >
                    <mat-icon [fontIcon]="'display_settings'"></mat-icon>
                    {{ 'nav.controlSchemesList' | transloco }}
                    <span *ngIf="controlSchemesCount"
                          class="counter"
                    >
                        ({{ controlSchemesCount }})
                    </span>
                </a>
            </span>
        </span>

        <span class="right-side-nav">
            <ng-container *ngIf="isBluetoothAvailable | ngrxPush; else bluetoothUnavailable">
                <button mat-mini-fab
                        class="discover-hub-button"
                        color="accent"
                        [title]="'discoverHub' | transloco"
                        [attr.aria-label]="'discoverHub' | transloco"
                        (click)="onDiscoveryStart()"
                        [disabled]="isDiscoveryBusy"
                >
                    <mat-icon [fontIcon]="'bluetooth_searching'"></mat-icon>
                </button>
            </ng-container>

            <ng-template #bluetoothUnavailable>
                <a mat-mini-fab
                   color="warn"
                   class="no-bluetooth-indicator"
                   [routerLink]="routesBuilderService.bluetoothUnavailable"
                   [title]="'bluetoothUnavailableToolbarTitle' | transloco"
                   appEllipsisTitle
                >
                    <mat-icon [fontIcon]="'bluetooth_disabled'"></mat-icon>
                    <span class="cdk-visually-hidden">{{ 'bluetoothUnavailableToolbarTitle' | transloco }}</span>
                </a>
            </ng-template>

            <a mat-icon-button
               class="about-button"
               [routerLink]="routesBuilderService.settings"
               [routerLinkActive]="'active-link'"
               [title]="'nav.settingsPageButton' | transloco"
               [attr.aria-label]="'nav.settingsPageButton' | transloco"
            >
                <mat-icon [fontIcon]="'settings'"></mat-icon>
            </a>

            <a mat-icon-button
               class="about-button"
               [routerLink]="routesBuilderService.about"
               [routerLinkActive]="'active-link'"
               [title]="'nav.aboutPageButton' | transloco"
               [attr.aria-label]="'nav.aboutPageButton' | transloco"
            >
                <mat-icon [fontIcon]="'info'"></mat-icon>
            </a>
        </span>
    </nav>
</mat-toolbar>
