<ng-container *ngIf="configForm">
    <mat-card *ngIf="shouldDisplayHubConfiguration$ | ngrxPush">
        <mat-card-content class="hub-configuration__container">
            <h3 class="hub-configuration__title">
                {{ hubName$ | ngrxPush }}
            </h3>

            <mat-form-field *ngIf="accelerationProfileInputActive$ | ngrxPush"
                            class="hub-configuration__item"
            >
                <mat-label>{{ 'controlScheme.accelerationTimeMs' | transloco }}</mat-label>
                <input type="number"
                       [formControl]="configForm.controls.accelerationTimeMs"
                       matInput
                />
            </mat-form-field>
            <mat-form-field *ngIf="decelerationProfileInputActive$ | ngrxPush"
                            class="hub-configuration__item"
            >
                <mat-label>{{ 'controlScheme.decelerationTimeMs' | transloco }}</mat-label>
                <input type="number"
                       [formControl]="configForm.controls.decelerationTimeMs"
                       matInput
                />
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</ng-container>
