:host {
    display: block;
}

.hub-configuration {
    &__container {
        display: flex;
        align-items: center;
        gap: 0 20px;
        flex-flow: wrap;
    }

    &__title {
        font-weight: 500;
        font-size: 14px;
        flex: 1;
        min-width: 300px;
    }

    &__item {
        min-width: 300px;
        max-width: 350px;
        flex: 1;
    }
}
