<ng-container *ngrxLet="controlSchemes$; let controlSchemes">
    <ng-container *ngIf="controlSchemes?.length; else noControlSchemes">
        <ul>
            <li *ngFor="let scheme of controlSchemes; trackBy: trackSchemeById"
                class="card-list-item"
            >
                <mat-card>
                    <mat-card-header class="control-scheme-name-container">
                        <mat-card-title>
                            <a mat-button
                               [routerLink]="scheme | controlSchemeViewUrl"
                            >
                                {{ scheme.name }}
                            </a>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </li>
        </ul>
    </ng-container>

    <ng-template #noControlSchemes>
        <app-hint [hintL10nKey]="'controlScheme.noControlSchemes'"></app-hint>
    </ng-template>
</ng-container>

<div *appFeatureToolbarControls>
    <span class="spacer"></span>
    <button mat-raised-button
            (click)="onCreate()"
    >
        {{ 'controlScheme.create' | transloco }}
    </button>
</div>
