<ng-container *ngrxLet="controlSchemes$; let controlSchemes">
    <ng-container *ngIf="controlSchemes?.length; else noControlSchemes">
        <ul>
            <li *ngFor="let scheme of controlSchemes; trackBy: trackSchemeById"
                class="card-list-item"
            >
                <mat-card>
                    <mat-card-header class="control-scheme-name-container">
                        <mat-card-title>
                            <a mat-button
                               [routerLink]="scheme | controlSchemeViewUrl"
                            >
                                {{ scheme.name }}
                            </a>
                        </mat-card-title>
                        <button mat-button
                                class="toolbar-button"
                                [color]="'warn'"
                                (click)="onDelete(scheme.name)">
                            {{ 'controlScheme.delete' | transloco }}
                        </button>
                    </mat-card-header>
                </mat-card>
            </li>
        </ul>
    </ng-container>

    <ng-template #noControlSchemes>
        <app-hint>
            {{ 'controlScheme.noControlSchemes' | transloco }}
        </app-hint>
    </ng-template>
</ng-container>

<div *appFeatureToolbarControls>
    <button mat-raised-button
            [disabled]="!(canCreateScheme$ | ngrxPush)"
            (click)="onCreate()"
    >
        {{ 'controlScheme.create' | transloco }}
    </button>
</div>
