<ng-container *ngIf="form">
    <app-controller-select [controllerIdFormControl]="form.controls.controllerId"
                           [inputIdFormControl]="form.controls.inputId"
                           [operationMode]="stepperHubIoOperationMode"
                           [inputTypeControl]="form.controls.inputType"
                           [title]="'controlScheme.bindingGenericInputTitle' | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.controllerId.valid && form.controls.inputId.valid">
        <app-binding-control-num-input [translocoTitle]="'controlScheme.stepperOutputConfigurationDegree'"
                                       [control]="form.controls.degree"
                                       [min]="minStepperDegree"
                                       [max]="maxStepperDegree"
        ></app-binding-control-num-input>

        <app-output-config-slider-control [min]="minSpeed"
                                          [max]="maxSpeed"
                                          [control]="form.controls.speed"
                                          [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
        ></app-output-config-slider-control>

        <app-output-config-slider-control [min]="minPower"
                                          [max]="maxPower"
                                          [control]="form.controls.power"
                                          [translocoTitle]="'controlScheme.outputPowerControlTitle'"
        ></app-output-config-slider-control>

        <app-binding-control-output-end-state [control]="form.controls.endState"
                                              [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-binding-control-output-end-state>

        <app-binding-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                                    [control]="form.controls.useAccelerationProfile"
        ></app-binding-toggle-control>

        <app-binding-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                                    [control]="form.controls.useDecelerationProfile"
        ></app-binding-toggle-control>
    </ng-container>
</ng-container>
