<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ 'createBindingWaitingForInputTitle' | transloco }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ 'createBindingWaitingForInputContent' | transloco }}
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button
                (click)="onCancel()"
        >
            {{ 'cancelAddSchemeBinding' | transloco }}
        </button>
    </mat-card-actions>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>
