.no-bluetooth-notification {
    font-weight: 400;
    margin: 0;
    padding: 10px 8px;
    font-size: 20px;
}

.no-bluetooth-link {
    font-weight: 300;
    margin: 0;
    padding: 10px 8px;
    font-size: 20px;
}
