<ng-container *ngIf="navMenuViewModel$ | ngrxPush; let navMenuViewModel">
    <app-compact-nav-menu *ngIf="isSmallScreen$ | ngrxPush"
                          [connectedControllersCount]="navMenuViewModel.connectedControllersCount"
                          [connectedHubCount]="navMenuViewModel.connectedHubCount"
                          [controlSchemesCount]="navMenuViewModel.controlSchemesCount"
                          [isBluetoothAvailable]="navMenuViewModel.isBluetoothAvailable"
                          [isDiscoveryBusy]="navMenuViewModel.isDiscoveryBusy"
                          (discoveryStart)="onDiscoveryStart()"
    ></app-compact-nav-menu>
    <app-full-nav-menu *ngIf="!(isSmallScreen$ | ngrxPush)"
                       [connectedControllersCount]="navMenuViewModel.connectedControllersCount"
                       [connectedHubCount]="navMenuViewModel.connectedHubCount"
                       [controlSchemesCount]="navMenuViewModel.controlSchemesCount"
                       [isBluetoothAvailable]="navMenuViewModel.isBluetoothAvailable"
                       [isDiscoveryBusy]="navMenuViewModel.isDiscoveryBusy"
                       (discoveryStart)="onDiscoveryStart()"
    ></app-full-nav-menu>
</ng-container>
