<h1 mat-dialog-title>
    {{ title$ | ngrxPush }}
</h1>

<ng-container *ngrxLet="content$ as content">
    <div *ngIf="content"
         mat-dialog-content
    >
        {{ content }}
    </div>
</ng-container>

<div mat-dialog-actions
     [align]="'end'"
>
    <button mat-raised-button
            [color]="'warn'"
            (click)="onConfirm()"
    >
        {{ confirmTitle$ | ngrxPush }}
    </button>
    <button mat-button
            (click)="onCancel()"
    >
        {{ cancelTitle$ | ngrxPush }}
    </button>
</div>
