<ng-container *ngIf="outputBinding">
    <section class="parameter-section">
        <button mat-raised-button
                color="primary"
                [disabled]="!(canCalibrate$ | ngrxPush)"
                (click)="calibrate()"
        >
            <mat-icon [fontIcon]="'settings_suggest'"></mat-icon>
            {{ 'controlScheme.servoOutputConfigurationCalibrate' | transloco }}
        </button>
    </section>

    <section class="parameter-section">
        <mat-slide-toggle [formControl]="outputBinding.controls.servoConfig.controls.invert">
            {{ 'controlScheme.servoOutputConfigurationInvert' | transloco }}
        </mat-slide-toggle>
    </section>

    <section class="parameter-section">
        <div class="slider-label">
            <label class="slider-label-description">
                {{ 'controlScheme.servoOutputConfigurationCenterOffset' | transloco }}
            </label>
            <label class="slider-label-value-right">{{ outputBinding.controls.servoConfig.controls.aposCenter.value }}</label>
        </div>
        <mat-slider class="slider"
                    [min]="-motorLimits.maxServoDegreesRange / 2"
                    [max]="motorLimits.maxServoDegreesRange / 2"
        >
            <input matSliderThumb [formControl]="outputBinding.controls.servoConfig.controls.aposCenter"/>
        </mat-slider>
    </section>

    <section class="parameter-section">
        <div class="slider-label">
            <label class="slider-label-description">
                {{ 'controlScheme.servoOutputConfigurationAngleRange' | transloco }}
            </label>
            <label class="slider-label-value-right">{{ outputBinding.controls.servoConfig.controls.range.value }}</label>
        </div>
        <mat-slider class="slider"
                    [min]="motorLimits.minServoDegreesRange"
                    [max]="motorLimits.maxServoDegreesRange"
        >
            <input matSliderThumb [formControl]="outputBinding.controls.servoConfig.controls.range"/>
        </mat-slider>
    </section>

    <section class="parameter-section">
        <div class="slider-label">
            <label class="slider-label-description">
                {{ 'controlScheme.servoOutputConfigurationSpeed' | transloco }}
            </label>
            <label class="slider-label-value-right">{{ outputBinding.controls.servoConfig.controls.speed.value }}</label>
        </div>
        <mat-slider class="slider"
                    [max]="motorLimits.maxSpeed"
                    [min]="0">
            <input matSliderThumb [formControl]="outputBinding.controls.servoConfig.controls.speed"/>
        </mat-slider>
    </section>

    <section class="parameter-section">
        <div class="slider-label">
            <label class="slider-label-description">
                {{ 'controlScheme.servoOutputConfigurationPower' | transloco }}
            </label>
            <label class="slider-label-value-right">{{ outputBinding.controls.servoConfig.controls.power.value }}</label>
        </div>
        <mat-slider class="slider"
                    [max]="motorLimits.maxPower"
                    [min]="0">
            <input matSliderThumb [formControl]="outputBinding.controls.servoConfig.controls.power"/>
        </mat-slider>
    </section>
</ng-container>
