<ng-container *ngIf="outputBinding">
    <section class="parameter-section">
        <button mat-raised-button
                color="primary"
                [disabled]="!(canCalibrate$ | ngrxPush)"
                (click)="calibrate()"
        >
            <mat-icon [fontIcon]="'settings_suggest'"></mat-icon>
            {{ 'controlScheme.servoOutputConfigurationCalibrate' | transloco }}
        </button>
    </section>

    <app-output-config-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                                      [control]="outputBinding.controls.servoConfig.controls.invert"
    ></app-output-config-toggle-control>

    <app-output-config-slider-control [min]="-motorLimits.maxServoDegreesRange / 2"
                                      [max]="motorLimits.maxServoDegreesRange / 2"
                                      [control]="outputBinding.controls.servoConfig.controls.aposCenter"
                                      [translocoTitle]="'controlScheme.servoOutputConfigurationCenterOffset'"
    ></app-output-config-slider-control>

    <app-output-config-slider-control [min]="motorLimits.minServoDegreesRange"
                                      [max]="motorLimits.maxServoDegreesRange"
                                      [control]="outputBinding.controls.servoConfig.controls.range"
                                      [translocoTitle]="'controlScheme.servoOutputConfigurationAngleRange'"
    ></app-output-config-slider-control>

    <app-output-config-slider-control [min]="0"
                                      [max]="motorLimits.maxSpeed"
                                      [control]="outputBinding.controls.servoConfig.controls.speed"
                                      [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
    ></app-output-config-slider-control>

    <app-output-config-slider-control [min]="motorLimits.minPower"
                                      [max]="motorLimits.maxPower"
                                      [control]="outputBinding.controls.servoConfig.controls.power"
                                      [translocoTitle]="'controlScheme.outputPowerControlTitle'"
    ></app-output-config-slider-control>
</ng-container>
