:host {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.binding {
    &__general-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__operation-type {
        width: 100px;

        &_active {
            font-weight: 500;
            color: var(--app-accent-color);
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;

        &-action-name {
            font-weight: 500;
            margin-right: 5px;
        }

        &_disconnected {
            text-decoration: line-through;
        }
    }
}
