:host {
    display: block;
    margin-bottom: 5px;
}

.binding {
    &__info-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &_small-screen {
            flex-direction: column;
        }
    }

    &__general-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__operation-type {
        width: 120px;
        height: unset;
    }

    &__controls {
        display: flex;
        flex-direction: column;

        &-action-name {
            font-weight: 500;
            margin-right: 5px;
        }

        &_disconnected {
            text-decoration: line-through;
        }
    }
}
