<ng-container *ngIf="viewModel$ | ngrxPush; let viewModel">
    <div class="binding__general-info">
        <a class="binding__operation-type mat-mdc-button"
           [class.binding__operation-type_active]="viewModel.isActive"
           [routerLink]="viewModel.schemeName | bindingViewUrl: viewModel.bindingId"
        >
            <ng-container *ngIf="!viewModel.ioHasNoRequiredCapabilities; else ioCapabilitiesMismatch">
                {{ viewModel.operationMode | bindingTypeToL10nKey | transloco }}
            </ng-container>
            <ng-template #ioCapabilitiesMismatch>
                <mat-error class="binding__operation-type"
                           [title]="'controlScheme.ioCapabilitiesMismatch' | transloco"
                >
                    {{ viewModel.operationMode | bindingTypeToL10nKey | transloco }}
                </mat-error>
                <span class="cdk-visually-hidden">
                    {{ 'controlScheme.ioCapabilitiesMismatch' | transloco }}
                </span>
            </ng-template>
        </a>
    </div>
    <div class="binding__controls">
        <div *ngFor="let controlData of viewModel.controlData">
            <span class="binding__controls-action-name">{{ controlData.action | controlSchemeInputActionToL10nKey | transloco }}:</span>
            <app-full-controller-input-name class="binding__controls-label"
                                            [class.binding__controls-label_disconnected]="!controlData.isControllerConnected"
                                            [inputData]="controlData.input"
                                            [showDisconnectedState]="true"
            ></app-full-controller-input-name>
        </div>
    </div>
</ng-container>
