<ng-container *ngIf="viewModel$ | ngrxPush; let viewModel">
    <div class="binding__general-info">
        <a class="binding__operation-type mat-mdc-button"
           [class.binding__operation-type_active]="viewModel.isActive"
           [routerLink]="viewModel.schemeName | bindingViewUrl: viewModel.bindingId"
        >
            <ng-container *ngIf="!viewModel.ioHasNoRequiredCapabilities; else ioCapabilitiesMismatch">
                {{ viewModel.operationMode | bindingTypeToL10nKey | transloco }}
            </ng-container>
            <ng-template #ioCapabilitiesMismatch>
                <mat-error class="binding__operation-type"
                           [title]="'controlScheme.ioCapabilitiesMismatch' | transloco"
                >
                    {{ viewModel.operationMode | bindingTypeToL10nKey | transloco }}
                </mat-error>
                <span class="cdk-visually-hidden">
                    {{ 'controlScheme.ioCapabilitiesMismatch' | transloco }}
                </span>
            </ng-template>
        </a>
    </div>
    <div class="binding__controls">
        <div *ngFor="let controlData of viewModel.controlData">
            <span class="binding__controls-action-name">{{ controlData.action | controlSchemeInputActionToL10nKey | transloco }}:</span>
            <ng-container *ngIf="controlData.isControllerConnected; else controllerIsNotConnected">
                {{ controlData.input | fullControllerInputName | ngrxPush }}
            </ng-container>
            <ng-template #controllerIsNotConnected>
                <span [class.binding__controls_disconnected]="!controlData.isControllerConnected"
                      [title]="'controller.isNotConnectedInlineNotification' | transloco"
                >{{ controlData.input | fullControllerInputName | ngrxPush }}</span>
                <span *ngIf="!controlData.isControllerConnected"
                      class="cdk-visually-hidden"
                >{{ 'controller.isNotConnectedInlineNotification' | transloco }}</span>
            </ng-template>

        </div>
    </div>
</ng-container>
