<app-feature-toolbar [title]="'controlSchemesList' | transloco">
    <span class="spacer"></span>
    <a mat-raised-button
       [routerLink]="createSchemeRoute"
       [disabled]="!(canCreateScheme$ | ngrxPush)">
        {{ 'createScheme' | transloco }}
    </a>
</app-feature-toolbar>

<app-feature-content-container *ngrxLet="controlSchemes$; let controlSchemes">
    <ng-container *ngIf="controlSchemes?.length; else noControlSchemes">
        <mat-card *ngFor="let scheme of controlSchemes; trackBy: trackSchemeById"
                  class="control-scheme-card"
        >
            <app-control-scheme-list-item [name]="scheme.name"
                                          [schemeId]="scheme.id"
                                          [isActive]="scheme.isRunning"
                                          (delete)="onDelete(scheme.id)"
            ></app-control-scheme-list-item>
        </mat-card>
    </ng-container>

    <ng-template #noControlSchemes>
        <h3 class="no-control-schemes-notification">
            {{ 'noControlSchemes' | transloco}}
        </h3>
    </ng-template>
</app-feature-content-container>
