:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.control-scheme-card + .control-scheme-card {
    margin-top: 10px;
}

.no-control-schemes-notification {
    font-weight: 300;
    margin: 0;
    padding: 10px 8px;
    font-size: 20px;
}
