<ng-container *ngrxLet="controlSchemes$; let controlSchemes">
    <ul *ngIf="controlSchemes?.length; else noControlSchemes">
        <li *ngFor="let scheme of controlSchemes; trackBy: trackSchemeById"
            class="card-list-item"
        >
            <mat-card class="control-scheme-card">
                <app-control-scheme-list-item [name]="scheme.name"
                                              [schemeId]="scheme.id"
                                              (delete)="onDelete(scheme.id)"
                ></app-control-scheme-list-item>
            </mat-card>
        </li>
    </ul>

    <ng-template #noControlSchemes>
        <h3 class="no-control-schemes-notification">
            {{ 'controlScheme.noControlSchemes' | transloco}}
        </h3>
    </ng-template>
</ng-container>

<ng-template #controlsTemplate>
    <span class="spacer"></span>
    <a mat-raised-button
       [routerLink]="routesBuilderService.controlSchemesCreate"
       [disabled]="!(canCreateScheme$ | ngrxPush)">
        {{ 'controlScheme.create' | transloco }}
    </a>
</ng-template>
