<ng-container *ngIf="(isControllerConnected$ | async) === false">
    <app-controller-type-select></app-controller-type-select>
</ng-container>

<div *ngIf="isControllerConnected$ | async">
    <div>
        controller is connected
    </div>
    <div>
        <button [color]="'warn'" mat-button>{{ 'controllerDisconnect$' | l10n }}</button>
    </div>
    <div *ngSwitchCase="connectedControllerType$ | async">
        <ng-template [ngSwitchCase]="controllerTypes.GamePad">
            that's a gamepad
        </ng-template>
    </div>
</div>
