:host {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: min-content auto min-content;
    width: 100%;
    height: 100%;
}

.toolbar {
    grid-column: span 3;
}

.main {
    grid-column: 2;
    padding: 20px 0;
}

.status-bar {
    grid-column: span 3;
}
