:host {
    display: block;
    width: 100%;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    z-index: 2;
}

.toolbar {
    height: 80px;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
