<div class="hub-name"
     appEllipsisTitle>
    {{ name }}
</div>

<mat-error *ngIf="!isConnected"
           class="hub-is-not-connected-notification"
           appEllipsisTitle
>
    {{ 'hubListHubIsNotConnected' | transloco }}
</mat-error>

<span class="spacer"></span>

<ng-container *ngIf="isConnected">
    <ng-container *ngIf="isButtonPressed; else buttonNotPressed">
        <mat-icon [title]="'hubButtonStateTitle' | transloco"
                  class="button-state"
                  [class.muted]="!isConnected"
                  [fontIcon]="'radio_button_checked'"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'hubButtonState' | transloco: { isButtonPressed } }}</span>
    </ng-container>

    <ng-template #buttonNotPressed>
        <mat-icon [title]="'hubButtonStateTitle' | transloco"
                  class="button-state"
                  [class.muted]="!isConnected"
                  [fontIcon]="'radio_button_off'"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'hubButtonState' | transloco: { isButtonPressed } }}</span>
    </ng-template>

    <ng-container *ngIf="batteryLevel !== null">
        <mat-icon class="battery-level"
                  [title]="'hubBatteryLevel' | transloco: { batteryLevel }"
                  [fontIcon]="batteryLevelIcon"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'hubBatteryLevel' | transloco: { batteryLevel } }}</span>
    </ng-container>

    <ng-container *ngIf="rssiLevel !== null">
        <mat-icon class="rssi-level"
                  [title]="'hubRSSILevel' | transloco: { RSSI: rssiLevel }"
                  [fontIcon]="rssiLevelIcon"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'hubRSSILevel' | transloco: { RSSI: rssiLevel } }}</span>
    </ng-container>

    <mat-icon class="has-communication-icon"
              [class.muted]="!hasCommunication"
              [fontIcon]="'multiple_stop'"
    ></mat-icon>
</ng-container>

<ng-container *ngIf="showControls">
    <a *ngIf="isConnected"
       mat-button
       class="view-button"
       [routerLink]="hubViewHref"
    >
        {{ 'viewHub' | transloco }}
    </a>

    <button *ngIf="isConnected"
            mat-button
            class="disconnect-button"
            (click)="onDisconnectClick()"
    >
        {{ 'disconnectHub' | transloco }}
    </button>

    <button *ngIf="!isConnected"
            mat-button
            class="forget-button"
            color="warn"
            (click)="onForgerClick()"
    >
        {{ 'forgetHub' | transloco }}
    </button>
</ng-container>
