<app-binding-edit-sections-container *ngIf="form">
    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionOutputTitle' | transloco"
    >
        <app-binding-control-select-hub [control]="form.controls.hubId"
                                        [bindingType]="bindingType"
        ></app-binding-control-select-hub>

        <app-binding-control-select-io [portIdControl]="form.controls.portId"
                                       [hubIdControl]="form.controls.hubId"
                                       [bindingType]="bindingType"
        ></app-binding-control-select-io>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *appHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionInputTitle' | transloco"
    >
        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.NextLevel]"
                                               [title]="controlSchemeInputActions.NextLevel | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>

        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.PrevLevel]"
                                               [title]="controlSchemeInputActions.PrevLevel | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>

        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Reset]"
                                               [title]="controlSchemeInputActions.Reset | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *appHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionConfigTitle' | transloco"
    >
        <div class="add-level-button-container">
            <button class="add-level-button"
                    mat-raised-button
                    (click)="addNextSpeedControl()">
                {{ 'controlScheme.speedShiftBinding.outputLevelAdd' | transloco }}
            </button>
        </div>

        <mat-form-field *ngFor="let speedControl of form.controls.levels.controls; let idx = index"
                        class="speed-level-form-field"
        >
            <mat-label>
                {{ 'controlScheme.speedShiftBinding.level' | transloco: { level: form.controls.initialLevelIndex.value - idx } }}
            </mat-label>
            <input type="number"
                   matInput
                   [formControl]="speedControl"
            />
            <button mat-icon-button
                    matSuffix
                    [disabled]="form.controls.initialLevelIndex.value === idx"
                    (click)="removeSpeedControl(idx)"
            >
                <mat-icon [fontIcon]="'delete'"></mat-icon>
                <span class="cdk-visually-hidden">{{ 'controlScheme.speedShiftBinding.outputLevelRemove' | transloco }}</span>
            </button>
            <mat-error [appValidationMessages]="speedControl"></mat-error>
        </mat-form-field>

        <div class="add-level-button-container">
            <button class="add-level-button"
                    mat-raised-button
                    (click)="addPrevSpeedControl()">
                {{ 'controlScheme.speedShiftBinding.outputLevelAdd' | transloco }}
            </button>
        </div>

        <mat-error [appValidationMessages]="form.controls.levels"></mat-error>

        <mat-divider class="sections-divider"></mat-divider>

        <app-binding-control-power-input [control]="form.controls.power"></app-binding-control-power-input>

        <app-binding-control-select-looping-mode [control]="form.controls.loopingMode"></app-binding-control-select-looping-mode>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </app-binding-edit-section>
</app-binding-edit-sections-container>
