<mat-form-field *ngIf="control"
                class="form-field"
>
    <mat-label>{{ 'controlScheme.bindingOutputSectionPortLabel' | transloco }}</mat-label>
    <mat-select [formControl]="control">
        <mat-select-trigger *ngIf="ioType$ | ngrxPush; let ioType">
            {{ control.value }}: {{ ioType | ioTypeToL10nKey | transloco }}
        </mat-select-trigger>
        <ng-container *ngFor="let io of availableIos">
            <mat-option [value]="io.portId">
                {{ io.portId }}: {{ io.ioType | ioTypeToL10nKey | transloco }}
            </mat-option>
        </ng-container>
    </mat-select>
</mat-form-field>
