<ng-container *ngIf="inputFormGroup">
    <div class="control-info">
        <mat-icon [fontIcon]="'gamepad'"></mat-icon>
        <mat-label class="title">
            {{ title }}<span *ngIf="isRequired">*</span>
        </mat-label>
        <ng-container *ngIf="isControllerAssigned; else controllerIsNotAssigned">
            <app-full-controller-input-name class="control-info__control-name"
                                            [inputData]="controllerData"
            ></app-full-controller-input-name>

            <button mat-icon-button
                    (click)="onBind()"
            >
                <mat-icon [fontIcon]="'edit'"></mat-icon>
                <span class="cdk-visually-hidden">{{ 'controlScheme.bindToAnotherInputButtonTitle' | transloco }}</span>
            </button>
            <button mat-icon-button
                    (click)="onUnbind()"
            >
                <mat-icon [fontIcon]="'delete'"></mat-icon>
                <span class="cdk-visually-hidden">{{ 'controlScheme.bindingInputControlUnassignButtonTitle' | transloco }}</span>
            </button>
        </ng-container>
        <ng-template #controllerIsNotAssigned>
            <span class="cdk-visually-hidden">
                {{ 'controlScheme.bindingInputIsNotAssigned' | transloco }}
            </span>

            <button class="assign-control"
                    mat-raised-button
                    (click)="onBind()"
            >
                {{ 'controlScheme.bindingAssignControlButtonTitle' | transloco }}
            </button>
        </ng-template>
    </div>
</ng-container>
