<ng-container *ngIf="inputFormGroup">
    <div *ngIf="inputFormGroup.valid; else assignControl"
         class="control-info">
        <mat-label class="title">
            {{ title }}:
        </mat-label>
        <app-full-controller-input-name class="control-info__control-name"
                                        [inputData]="controllerData"
        ></app-full-controller-input-name>

        <button mat-raised-button
                (click)="onBind()"
        >
            {{ 'controlScheme.bindToAnotherInputButtonTitle' | transloco }}
        </button>
    </div>
</ng-container>

<ng-template #assignControl>
    <button class="assign-control"
            mat-raised-button
            (click)="onBind()"
    >
        {{ 'controlScheme.bindingAssignControlButtonTitle' | transloco }}
    </button>
</ng-template>
