<ng-container *ngrxLet="hubsList$; let hubsList">
    <ul *ngIf="hubsList.length; else noConnectedHubs">
        <li *ngFor="let hub of hubsList; trackBy: hubTrackByFn"
            class="card-list-item"
        >
            <mat-card>
                <mat-card-header class="hub-name-container">
                    <mat-card-title>
                        <app-hub-inline-view [hubId]="hub.hubId"
                                             [name]="hub.name"
                                             [batteryLevel]="hub.batteryLevel"
                                             [rssiLevel]="hub.rssi"
                                             [isButtonPressed]="hub.isButtonPressed"
                                             [hasCommunication]="hub.hasCommunication"
                                             [isConnected]="hub.isConnected"
                                             (disconnect)="disconnectHub(hub.hubId)"
                                             (forget)="forgetHub(hub.hubId)"
                        ></app-hub-inline-view>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </li>
    </ul>

    <ng-template #noConnectedHubs>
        <app-hint>
            {{ 'hub.noneConnected' | transloco }}
        </app-hint>
    </ng-template>
</ng-container>
