:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.no-hub-connected-notification-header {
    font-weight: 300;
    margin: 0;
    padding: 10px 8px;
    font-size: 20px;
}

.hub-card {
    padding: 10px 10px 10px 20px;
}
