<ng-container *ngrxLet="connectedHubs$; let connectedHubs">
    <ul *ngIf="connectedHubs.length; else noConnectedHubs">
        <li *ngFor="let hub of connectedHubs; trackBy: hubTrackByFn; let last = last"
            class="card-list-item"
        >
            <mat-card class="hub-card">
                <app-hub-inline-view [hubId]="hub.hubId"
                                     [name]="hub.name"
                                     [batteryLevel]="hub.batteryLevel"
                                     [rssiLevel]="hub.RSSI"
                                     [isButtonPressed]="hub.isButtonPressed"
                                     [hasCommunication]="hub.hasCommunication"
                                     [connectionState]="hub.connectionState"
                                     (disconnect)="disconnectHub(hub.hubId)"
                                     (forget)="forgetHub(hub.hubId)"
                ></app-hub-inline-view>
            </mat-card>
        </li>
    </ul>

    <ng-template #noConnectedHubs>
        <h3 class="no-hub-connected-notification-header">{{ 'hub.noneConnected' | transloco }}</h3>
    </ng-template>
</ng-container>
