:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hub-name-container {
    height: 48px;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
