<mat-card *ngIf="selectedScheme$ | ngrxPush; let scheme; else schemeNotFound">
    <mat-card-header>
        <mat-card-title>
            <app-control-scheme-general-info [name]="scheme.name"
                                             (nameChange)="onUpdateSchemeName($event)"
            ></app-control-scheme-general-info>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <section *ngIf="scheme.bindings.length; else bindingsListEmpty">
            <app-control-scheme-view-io-list [tree]="schemeViewTree$ | ngrxPush"></app-control-scheme-view-io-list>
        </section>
    </mat-card-content>

    <ng-container *ngIf="isSmallScreen$ | ngrxPush; else largeScreen">
        <app-control-scheme-page-compact-toolbar *appFeatureToolbarControls
                                                 [canRun]="!!(canRunScheme$ | ngrxPush)"
                                                 [canStop]="!!(isCurrentControlSchemeRunning$ | ngrxPush)"
                                                 [canAddBinding]="!!(canCreateBinding$ | ngrxPush)"
                                                 [canExport]="!!(canExportScheme$ | ngrxPush)"
                                                 (run)="runScheme(scheme.name)"
                                                 (stop)="stopRunningScheme()"
                                                 (addBinding)="addBinding()"
                                                 (export)="onExport(scheme.name)"
                                                 (delete)="onDelete()"
        ></app-control-scheme-page-compact-toolbar>
    </ng-container>
    <ng-template #largeScreen>
        <app-control-scheme-page-full-toolbar *appFeatureToolbarControls
                                              [canRun]="!!(canRunScheme$ | ngrxPush)"
                                              [canStop]="!!(isCurrentControlSchemeRunning$ | ngrxPush)"
                                              [canAddBinding]="!!(canCreateBinding$ | ngrxPush)"
                                              [canExport]="!!(canExportScheme$ | ngrxPush)"
                                              (run)="runScheme(scheme.name)"
                                              (stop)="stopRunningScheme()"
                                              (addBinding)="addBinding()"
                                              (export)="onExport(scheme.name)"
                                              (delete)="onDelete()"
        ></app-control-scheme-page-full-toolbar>
    </ng-template>
</mat-card>

<ng-template #schemeNotFound>
    <app-hint>
        {{ 'controlScheme.notFound' | transloco }}
    </app-hint>
</ng-template>

<ng-template #bindingsListEmpty>
    <app-hint>
        {{ 'controlScheme.bindingsListEmptyNotification' | transloco }}
    </app-hint>
</ng-template>
