:host {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 15px;
}

.run-blockers {
    margin-left: 10px;

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0;
    }
}
