<ng-container *ngIf="selectedScheme$ | ngrxPush; let scheme; else schemeNotFound">
    <app-control-scheme-widgets-grid *ngIf="scheme.widgets.length"
                                     [widgetConfigs]="scheme.widgets"
    ></app-control-scheme-widgets-grid>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <app-control-scheme-general-info [name]="scheme.name"
                                                 (nameChange)="onUpdateSchemeName($event)"
                ></app-control-scheme-general-info>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <section *ngIf="schemeRunBlockers$ | ngrxPush; let blockers"
                     class="run-blockers"
            >
                <p *ngFor="let blocker of blockers"
                   class="run-blockers__item"
                >
                    <mat-icon [fontIcon]="'highlight_off'"
                              [color]="'warn'"
                    ></mat-icon>
                    {{ blocker | controlSchemeRunBlockersL10nPipe | transloco }}
                </p>
            </section>
            <section *ngIf="scheme.bindings.length; else bindingsListEmpty">
                <app-control-scheme-view-io-list [tree]="schemeViewTree$ | ngrxPush"></app-control-scheme-view-io-list>
            </section>
        </mat-card-content>

        <ng-container *ngIf="isSmallScreen$ | ngrxPush; else largeScreen">
            <app-control-scheme-page-compact-toolbar *appFeatureToolbarControls
                                                     [canRun]="!!(canRunScheme$ | ngrxPush)"
                                                     [canStop]="!!(isCurrentControlSchemeRunning$ | ngrxPush)"
                                                     [canAddBinding]="!!(canCreateBinding$ | ngrxPush)"
                                                     [canExport]="!!(canExportScheme$ | ngrxPush)"
                                                     [canAddWidgets]="!!(canAddWidgets$ | ngrxPush)"
                                                     (run)="runScheme(scheme.name)"
                                                     (stop)="stopRunningScheme()"
                                                     (addBinding)="addBinding()"
                                                     (export)="onExport(scheme.name)"
                                                     (delete)="onDelete()"
                                                     (addWidget)="onAddWidget()"
            ></app-control-scheme-page-compact-toolbar>
        </ng-container>
        <ng-template #largeScreen>
            <app-control-scheme-page-full-toolbar *appFeatureToolbarControls
                                                  [canRun]="!!(canRunScheme$ | ngrxPush)"
                                                  [canStop]="!!(isCurrentControlSchemeRunning$ | ngrxPush)"
                                                  [canAddBinding]="!!(canCreateBinding$ | ngrxPush)"
                                                  [canExport]="!!(canExportScheme$ | ngrxPush)"
                                                  [canAddWidgets]="!!(canAddWidgets$ | ngrxPush)"
                                                  (run)="runScheme(scheme.name)"
                                                  (stop)="stopRunningScheme()"
                                                  (addBinding)="addBinding()"
                                                  (export)="onExport(scheme.name)"
                                                  (delete)="onDelete()"
                                                  (addWidget)="onAddWidget()"
            ></app-control-scheme-page-full-toolbar>
        </ng-template>
    </mat-card>
</ng-container>

<ng-template #schemeNotFound>
    <app-hint>
        {{ 'controlScheme.notFound' | transloco }}
    </app-hint>
</ng-template>

<ng-template #bindingsListEmpty>
    <app-hint>
        {{ 'controlScheme.bindingsListEmptyNotification' | transloco }}
    </app-hint>
</ng-template>
