<mat-toolbar [color]="'primary'" class="toolbar">
    <a [disabled]="(isBluetoothAvailable$ | async) === false"
       [routerLink]="configureControllerRoute"
       mat-button
    >
        {{ 'configureController$' | l10n }}
    </a>
    <a [disabled]="(isBluetoothAvailable$ | async) === false"
       [routerLink]="configureHubRoute"
       mat-button
    >
        {{ 'configureHub$' | l10n }}
    </a>
</mat-toolbar>

<div class="main">
    <router-outlet></router-outlet>
</div>

<app-status-bar-component [isControllerConnected]="isControllerConnected$ | async"
                          [isHubConnected]="isHubConnected$ | async"
                          class="status-bar"
>
</app-status-bar-component>
