<div *ngIf="config">
    <div>
        Technic motor
    </div>
    <div>
        {{ config | json }}
    </div>
    <div>
        <button (click)="start()">START</button>
        <button (click)="stop()">STOP</button>
        <button (click)="brake()">BRAKE</button>
    </div>
    <div>
        Subscribe to:
        <div *ngFor="let mode of config.inputModes | keyvalue">
            <button (click)="subscribeTo(mode.value.name)">{{ mode.value.name }}</button>
        </div>
    </div>
    <div>
        <button (click)="unsubscribe()">Unsubscribe</button>
    </div>
</div>
