<app-binding-edit-sections-container *ngIf="form">
    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionOutputTitle' | transloco"
    >
        <app-binding-control-select-hub [control]="form.controls.hubId"
                                        [bindingType]="bindingType"
        ></app-binding-control-select-hub>

        <app-binding-control-select-io [portIdControl]="form.controls.portId"
                                       [hubIdControl]="form.controls.hubId"
                                       [bindingType]="bindingType"
        ></app-binding-control-select-io>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *libHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionInputTitle' | transloco"
    >
        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.SetAngle]"
                                               [title]="controlSchemeInputActions.SetAngle | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *libHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionConfigTitle' | transloco"

    >
        <mat-form-field>
            <mat-label>
                {{ 'controlScheme.setAngleBinding.outputAngle' | transloco }}
            </mat-label>
            <input type="number"
                   matInput
                   [formControl]="form.controls.angle"
            />
            <button mat-icon-button
                    matSuffix
                    [disabled]="!(canRequestPortValue$ | ngrxPush)"
                    [title]="'controlScheme.setAngleBinding.readAngleFromPort' | transloco"
                    (click)="onMotorPositionRequest()"
            >
                <mat-icon [fontIcon]="'gps_fixed'"></mat-icon>
            </button>
            <mat-error [libValidationMessages]="form.controls.angle"></mat-error>
        </mat-form-field>

        <app-binding-control-speed-input [control]="form.controls.speed"></app-binding-control-speed-input>
        <app-binding-control-power-input [control]="form.controls.power"></app-binding-control-power-input>

        <app-binding-control-output-end-state [control]="form.controls.endState"
                                              [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-binding-control-output-end-state>

        <lib-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></lib-toggle-control>

        <lib-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></lib-toggle-control>
    </app-binding-edit-section>
</app-binding-edit-sections-container>
