<ng-container *ngIf="selectedScheme$ | ngrxPush; let scheme; else schemeNotFound">
    <mat-toolbar color="primary" *ngrxLet="canRunScheme$ | ngrxPush; let canRunScheme">
        <span appEllipsisTitle>
            {{ scheme.name }}
        </span>
        <span class="spacer"></span>
        <mat-icon *ngIf="composeValidationErrorMessage$ | ngrxPush; let validationMessage"
                  [title]="validationMessage"
        >question_mark
        </mat-icon>
        <button mat-stroked-button
                class="toolbar-button"
                [disabled]="!canRunScheme"
                (click)="runScheme(scheme.id)"
        >
            {{ 'runScheme' | transloco }}
        </button>

        <button mat-stroked-button
                class="toolbar-button"
                [disabled]="!(isCurrentControlSchemeRunning$ | ngrxPush)"
                (click)="stopRunningScheme()"
        >
            {{ 'stopScheme' | transloco }}
        </button>
    </mat-toolbar>

    <section class="running-scheme-view">
        <mat-accordion *ngIf="isCurrentControlSchemeRunning$ | ngrxPush">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'currentSchemeIsRunning' | transloco }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ 'currentRunningSchemeTasksQueueDetails' | transloco }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{ 'schemeTaskQueueCurrentLength' | transloco }} {{ queueLength$ | ngrxPush }}</p>
                <p>{{ 'schemeTaskMaximumEncounteredQueueLength' | transloco }} {{ maxQueueLength$ | ngrxPush }}</p>
                <p>{{ 'totalTasksExecuted' | transloco }} {{ totalTasksExecuted$ | ngrxPush }}</p>
                <p>{{ 'lastTenTasksAverageExecutionTime' | transloco }}{{ lastTenTaskAverageExecutionTime$ | ngrxPush }}</p>
            </mat-expansion-panel>
        </mat-accordion>

        <section class="IOs">
            <app-control-scheme-view-io-list [bindingsWithLatestExecutedTasks]="bindingsWithLatestExecutedTasks$ | ngrxPush"
            ></app-control-scheme-view-io-list>
        </section>
    </section>
</ng-container>

<ng-template #schemeNotFound>
    <section class="scheme-is-not-found">
        <h2>{{ 'schemeIsNotFound' | transloco }}</h2>
    </section>
</ng-template>
