:host {
    display: block;
    height: 100%;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.scheme-binding-view {
    margin: 20px;
}

.running-scheme-view {
    padding: 20px;
}

.scheme-is-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.toolbar-button {
    margin-left: 10px;
}

.IOs {
    margin-top: 20px;
}
