<ng-container *ngIf="initialBindingData$ | ngrxPush; let initialData; else unableToCreateBinding">
    <app-binding-edit #binding="appBindingEdit"
                      [binding]="initialData"
                      [bindingType]="initialData.operationMode"
    ></app-binding-edit>

    <div *appFeatureToolbarControls>
        <button mat-raised-button
                class="toolbar-button"
                [disabled]="!(binding.canSave$ | ngrxPush)"
                (click)="onSave(binding.getValue())">
            {{ 'controlScheme.saveCreated' | transloco }}
        </button>
        <button mat-raised-button
                class="toolbar-button"
                (click)="onCancel()"
        >
            {{ 'controlScheme.cancelCreate' | transloco }}
        </button>
    </div>
</ng-container>

<ng-template #unableToCreateBinding>
    <app-hint [hintL10nKey]="'controlScheme.cannotCreateBinding'"></app-hint>
</ng-template>
