:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.parameter-section {
    display: flex;
    flex-direction: column;
}

.slider-label {
    display: flex;

    &-description {
        font-weight: 400;
        flex: 1;
    }

    &-value-right {
        font-weight: 600;
        width: 45px;
        text-align: right;
    }
}

.slider {
    width: calc(100% - 20px);
}

.parameter-section {
    margin-bottom: 20px;
}
