<ng-container *ngIf="configurationForm">
    <app-output-num-input-control [translocoTitle]="'controlScheme.setAngleOutputConfigurationAngle'"
                                  [control]="configurationForm.controls.angle"
                                  [min]="motorLimits.minRawAngle"
                                  [max]="motorLimits.maxRawAngle"
    ></app-output-num-input-control>

    <app-output-config-slider-control [min]="0"
                                      [max]="motorLimits.maxSpeed"
                                      [control]="configurationForm.controls.speed"
                                      [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
    ></app-output-config-slider-control>

    <app-output-config-slider-control [min]="motorLimits.minPower"
                                      [max]="motorLimits.maxPower"
                                      [control]="configurationForm.controls.power"
                                      [translocoTitle]="'controlScheme.outputPowerControlTitle'"
    ></app-output-config-slider-control>

    <app-output-end-state-selector [control]="configurationForm.controls.endState"
                                   [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
    ></app-output-end-state-selector>
</ng-container>
