<h1 mat-dialog-title>
    {{ 'controlScheme.createBindingWaitingForInputTitle' | transloco }}
</h1>

<div *ngrxLet="controllerNames$ as controllerNames"
     mat-dialog-content
>
    <p>
        {{ 'controlScheme.createBindingWaitingForInputContent' | transloco }}
    </p>
    <ng-container *ngIf="controllerNames.length; else noControllers">
        <p>
            {{ 'controller.connectedControllers' | transloco }}
        </p>
        <p *ngFor="let controllerName of controllerNames"
           class="controller-name"
        >
            {{ controllerName }}
        </p>
    </ng-container>
    <ng-template #noControllers>
        {{ 'controller.noConnectedControllers' | transloco }}
    </ng-template>
</div>

<div mat-dialog-actions
     [align]="'end'">
    <button mat-button
            (click)="onCancel()"
    >
        {{ 'controlScheme.cancelAddBinding' | transloco }}
    </button>
</div>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
