<button *ngIf="isBluetoothAvailable | ngrxPush; else bluetoothUnavailable"
        mat-mini-fab
        matRipple
        class="discover-hub-button"
        [color]="'accent'"
        [title]="'discoverHub' | transloco"
        [attr.aria-label]="'discoverHub' | transloco"
        (click)="onDiscoveryStart()"
        [disabled]="isDiscoveryBusy"
        #discoverHubRipples="matRipple"
>
    <mat-icon [fontIcon]="'bluetooth_searching'"></mat-icon>
</button>

<ng-template #bluetoothUnavailable>
    <a mat-mini-fab
       [color]="'warn'"
       [routerLink]="routesBuilderService.bluetoothUnavailable"
       [title]="'bluetoothIsNotAvailable' | transloco"
    >
        <mat-icon [fontIcon]="'bluetooth_disabled'"></mat-icon>
        <span class="cdk-visually-hidden">{{ 'bluetoothIsNotAvailable' | transloco }}</span>
    </a>
</ng-template>
