<app-hub-inline-view *ngIf="viewModel$ | ngrxPush; let viewModel"
                     [isHubKnown]="viewModel.isHubKnown"
                     [name]="viewModel.name"
                     [hubId]="viewModel.hubId"
                     [batteryLevel]="viewModel.batteryLevel"
                     [rssiLevel]="viewModel.rssi"
                     [isButtonPressed]="viewModel.isButtonPressed"
                     [hasCommunication]="viewModel.hasCommunication"
                     [isConnected]="viewModel.isConnected"
                     [showControls]="false"
></app-hub-inline-view>
