:host {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.yaw-icon {
    fill: none;
    stroke: var(--app-text-color);
    stroke-linecap: round;

    &__outline {
        stroke-width: 2;
    }

    &__inline {
        stroke-width: 1;
    }
}
