<ng-container *ngIf="form">
    <app-controller-select [controllerIdFormControl]="form.controls.controllerId"
                           [inputIdFormControl]="form.controls.inputId"
                           [operationMode]="linearHubIoOperationMode"
                           [inputTypeControl]="form.controls.inputType"
                           [title]="'controlScheme.bindingGenericInputTitle' | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.controllerId.valid && form.controls.inputId.valid">
        <app-binding-input-gain-select *ngIf="isAxialInput"
                                       [control]="form.controls.inputGain"
        ></app-binding-input-gain-select>

        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.maxSpeed"
                            [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.outputPowerControlTitle'"
        ></app-slider-control>

        <app-toggle-control *ngIf="form.controls.inputType.value === controllerInputButtonType"
                            [translocoTitle]="'controlScheme.linearOutputConfigurationTreatAsSwitch'"
                            [control]="form.controls.isToggle"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                            [control]="form.controls.invert"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
