<ng-container *ngIf="form">
    <app-controller-select [operationMode]="linearHubIoOperationMode"
                           [inputFormGroup]="form.controls.inputs.controls.accelerate"
                           [title]="'controlScheme.linearInput' | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.inputs.valid">
        <app-binding-input-gain-select *ngIf="isInputGainConfigurable"
                                       [control]="form.controls.inputs.controls.accelerate.controls.gain"
        ></app-binding-input-gain-select>

        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.maxSpeed"
                            [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.outputPowerControlTitle'"
        ></app-slider-control>

        <app-toggle-control *ngIf="isToggleable"
                            [translocoTitle]="'controlScheme.linearOutputConfigurationTreatAsSwitch'"
                            [control]="form.controls.isToggle"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                            [control]="form.controls.invert"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
