<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label>{{ 'schemeEditNameField' | transloco }}</mat-label>
            <input type="text"
                   [formControl]="form.controls.name"
                   matInput
            />
        </mat-form-field>
    </mat-card-content>
</mat-card>

<section class="binding-config" *ngFor="let binding of form.controls.bindings.controls">
    <app-control-scheme-binding-input [formGroup]="binding.controls.input"></app-control-scheme-binding-input>
    <app-control-scheme-binding-output [formGroup]="binding"></app-control-scheme-binding-output>
</section>

<mat-card class="binding-actions">
    <mat-card-actions>
        <button mat-button
                *ngIf="canAddBinding$ | ngrxPush"
                (click)="addBinding()">
            {{ 'addSchemeBinding' | transloco }}
        </button>
        <button mat-button
                *ngIf="canCancelBinding$ | ngrxPush"
                (click)="cancelAddBinging()">
            {{ 'cancelAddSchemeBinding' | transloco }}
        </button>
        <button mat-button
                [disabled]="form.invalid"
                (click)="onSave()">
            {{ 'saveScheme' | transloco }}
        </button>
    </mat-card-actions>
</mat-card>

<mat-accordion class="scheme-raw">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Raw scheme
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
            <pre>{{ form.value | json }}</pre>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>
