:host {
    display: flex;
    flex-direction: column;
}

.scheme-raw,
.binding-actions,
.binding-config {
    margin-top: 20px;
}

.binding-config {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(600px, 3fr);
    grid-gap: 20px;
}
