<app-binding-edit-sections-container *ngIf="form">
    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionOutputTitle' | transloco"
    >
        <app-binding-select-hub [control]="form.controls.hubId"
                                [bindingType]="bindingType"
        ></app-binding-select-hub>

        <app-binding-control-select-io [portIdControl]="form.controls.portId"
                                       [hubId]="form.controls.hubId.value"
                                       [bindingType]="bindingType"
        ></app-binding-control-select-io>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *appHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionInputTitle' | transloco"
    >
        <app-controller-select [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Servo]"
                               [title]="controlSchemeInputActions.Servo | controlSchemeInputActionToL10nKey | transloco "
        ></app-controller-select>
        <app-binding-input-gain-select *ngIf="isInputGainConfigurable"
                                       [control]="form.controls.inputs.controls[controlSchemeInputActions.Servo].controls.gain"
        ></app-binding-input-gain-select>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *appHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionConfigTitle' | transloco"

    >
        <div>
            <button mat-raised-button
                    type="button"
                    color="primary"
                    class="calibrate-button"
                    [disabled]="!(canCalibrate$ | ngrxPush)"
                    (click)="calibrate()"
            >
                {{ 'controlScheme.servoBinding.calibrate' | transloco }}
            </button>
        </div>

        <mat-form-field>
            <mat-label>{{ 'controlScheme.servoBinding.outputCenterOffset' | transloco }}</mat-label>
            <input type="number"
                   matInput
                   [formControl]="form.controls.aposCenter"
                   [min]="-motorLimits.maxServoDegreesRange / 2"
                   [max]="motorLimits.maxServoDegreesRange / 2"
            />
            <button mat-icon-button
                    matSuffix
                    [disabled]="!(canRequestPortValue$ | ngrxPush)"
                    [title]="'controlScheme.servoBinding.readServoCenterFromPort' | transloco"
                    (click)="onServoCenterReadRequest()"
            >
                <mat-icon [fontIcon]="'gps_fixed'"></mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'controlScheme.servoBinding.outputAngleRange' | transloco }}</mat-label>
            <input type="number"
                   matInput
                   [formControl]="form.controls.range"
                   [min]="motorLimits.minServoDegreesRange"
                   [max]="motorLimits.maxServoDegreesRange"
            />
            <button mat-icon-button
                    matSuffix
                    [disabled]="!(canRequestPortValue$ | ngrxPush)"
                    [title]="'controlScheme.servoBinding.readServoRangeFromPort' | transloco"
                    (click)="onServoRangeReadRequest()"
            >
                <mat-icon [fontIcon]="'gps_fixed'"></mat-icon>
            </button>
        </mat-form-field>

        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.speed"
                            [translocoTitle]="'controlScheme.servoBinding.outputSpeed'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.servoBinding.outputPower'"
        ></app-slider-control>

        <app-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                            [control]="form.controls.invert"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </app-binding-edit-section>
</app-binding-edit-sections-container>
