<ng-container *ngIf="form">
    <app-controller-select [operationMode]="servoOperationMode"
                           [inputFormGroup]="form.controls.inputs.controls.servo"
                           [title]="'controlScheme.servoInput' | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.inputs.valid">
        <app-binding-input-gain-select *ngIf="isInputGainConfigurable"
                                       [control]="form.controls.inputs.controls.servo.controls.gain"
        ></app-binding-input-gain-select>

        <button mat-raised-button
                color="primary"
                class="calibrate-button"
                [disabled]="!(canCalibrate$ | ngrxPush)"
                (click)="calibrate()"
        >
            <mat-icon [fontIcon]="'settings_suggest'"></mat-icon>
            {{ 'controlScheme.servoOutputConfigurationCalibrate' | transloco }}
        </button>

        <app-slider-control [min]="-motorLimits.maxServoDegreesRange / 2"
                            [max]="motorLimits.maxServoDegreesRange / 2"
                            [control]="form.controls.aposCenter"
                            [translocoTitle]="'controlScheme.servoOutputConfigurationCenterOffset'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minServoDegreesRange"
                            [max]="motorLimits.maxServoDegreesRange"
                            [control]="form.controls.range"
                            [translocoTitle]="'controlScheme.servoOutputConfigurationAngleRange'"
        ></app-slider-control>

        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.speed"
                            [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.outputPowerControlTitle'"
        ></app-slider-control>

        <app-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                            [control]="form.controls.invert"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
