<ng-container *ngIf="form">
    <app-controller-select [inputFormGroup]="form.controls.inputs.controls.servo"
                           [title]="'controlScheme.servoBinding.inputServo' | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.inputs.valid">
        <app-binding-input-gain-select *ngIf="isInputGainConfigurable"
                                       [control]="form.controls.inputs.controls.servo.controls.gain"
        ></app-binding-input-gain-select>

        <button mat-raised-button
                color="primary"
                class="calibrate-button"
                [disabled]="!(canCalibrate$ | ngrxPush)"
                (click)="calibrate()"
        >
            <mat-icon [fontIcon]="'settings_suggest'"></mat-icon>
            {{ 'controlScheme.servoBinding.calibrate' | transloco }}
        </button>

        <div class="readable-input-container">
            <app-slider-control class="readable-input"
                                [min]="-motorLimits.maxServoDegreesRange / 2"
                                [max]="motorLimits.maxServoDegreesRange / 2"
                                [control]="form.controls.aposCenter"
                                [translocoTitle]="'controlScheme.servoBinding.outputCenterOffset'"
            ></app-slider-control>
            <app-binding-control-read-motor-position [disabled]="!(canQueryPort$ | ngrxPush)"
                                                     [controlTitle]="'controlScheme.servoBinding.readServoCenterFromPort' | transloco"
                                                     [portModeName]="portModeNames.absolutePosition"
                                                     [hubId]="form.controls.hubId.value"
                                                     [portId]="form.controls.portId.value"
                                                     (aposChange)="aposCenterFromMotorChanged($event)"
                                                     (isQueryingPortChange)="updateIsQueryingPort($event)"
            ></app-binding-control-read-motor-position>
        </div>

        <div class="readable-input-container">
            <app-slider-control class="readable-input"
                                [min]="motorLimits.minServoDegreesRange"
                                [max]="motorLimits.maxServoDegreesRange"
                                [control]="form.controls.range"
                                [translocoTitle]="'controlScheme.servoBinding.outputAngleRange'"
            ></app-slider-control>
            <app-binding-control-read-motor-position [disabled]="!(canQueryPort$ | ngrxPush)"
                                                     [controlTitle]="'controlScheme.servoBinding.readServoRangeFromPort' | transloco"
                                                     [portModeName]="portModeNames.absolutePosition"
                                                     [hubId]="form.controls.hubId.value"
                                                     [portId]="form.controls.portId.value"
                                                     (aposChange)="rangeFromMotorChanged($event)"
                                                     (isQueryingPortChange)="updateIsQueryingPort($event)"
            ></app-binding-control-read-motor-position>
        </div>

        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.speed"
                            [translocoTitle]="'controlScheme.servoBinding.outputSpeed'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.servoBinding.outputPower'"
        ></app-slider-control>

        <app-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                            [control]="form.controls.invert"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
