<ng-container *ngrxLet="connectedHubs$; let connectedHubs">
    <ng-container *ngIf="connectedHubs.length; else noConnectedHubs">
        <ng-container *ngFor="let hub of connectedHubs; trackBy: hubTrackByFn; let last = last">
            <mat-card class="hub-card">
                <app-hubs-list-item [hubId]="hub.hubId"
                                    [name]="hub.name"
                                    [batteryLevel]="hub.batteryLevel"
                                    [rssiLevel]="hub.RSSI"
                                    [isButtonPressed]="hub.isButtonPressed"
                                    [hasCommunication]="hub.hasCommunication"
                                    (disconnect)="disconnectHub(hub.hubId)"
                ></app-hubs-list-item>
            </mat-card>
            <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
    </ng-container>

    <ng-template #noConnectedHubs>
        <h3 class="no-hub-connected-notification-header">{{ 'noHubConnected' | transloco }}</h3>
    </ng-template>
</ng-container>
