<ng-container *ngIf="startControl && endControl">
    <div class="slider-label">
        <label class="slider-label-value-left">
            <ng-content select="[startLabel]"></ng-content>
        </label>
        <label class="slider-label-description">
            <ng-content select="[description]"></ng-content>
        </label>
        <label class="slider-label-value-right">
            <ng-content select="[endLabel]"></ng-content>
        </label>
    </div>
    <mat-slider class="slider"
                [min]="min"
                [max]="max"
                [step]="step"
    >
        <input matSliderStartThumb [formControl]="startControl"/>
        <input matSliderEndThumb [formControl]="endControl"/>
    </mat-slider>
</ng-container>
