<h3 class="name"
    appEllipsisTitle
>
    {{ name }}
</h3>

<mat-icon *ngIf="isActive"
          [title]="'controlSchemeIsActive' | transloco">power
</mat-icon>

<a mat-button
   class="view-button"
   [routerLink]="schemeViewHref"
>
    {{ 'viewScheme' | transloco }}
</a>

<a mat-button
   class="edit-button"
   [routerLink]="schemeEditHref"
>
    {{ 'editScheme' | transloco }}
</a>

<button mat-button
        color="warn"
        class="delete-button"
        (click)="onDeleteClick()"
>
    {{ 'deleteScheme' | transloco }}
</button>
