:host {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
}

.name {
    flex: 1;
    margin: 0;
    font-weight: 500;

}

.delete-button,
.view-button,
.edit-button {
    margin-left: 10px;
}
