:host {
    display: flex;
    flex-direction: column;
}

.hub-view {
    display: flex;
    flex-direction: column;
}

.io-list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &__item {
        margin-top: 10px;
    }
}
