<ng-container *ngIf="selectedHub$ | ngrxPush; let hub; else hubNotFound">
    <ng-container *ngIf="selectedHubStats$ | ngrxPush; let stats; else hubNotFound">
        <app-hub-properties-view class="hub-properties-view"
                                 [configuration]="hub"
                                 [stats]="selectedHubStats$ | ngrxPush"
                                 (disconnect)="disconnectHub()"
        ></app-hub-properties-view>

        <ng-container *ngrxLet="ioFullInfoList$ as iosFullInfoList">
            <ul class="io-list"
                *ngIf="iosFullInfoList.length"
            >
                <li *ngFor="let ioFullInfo of iosFullInfoList; trackBy: hubIoTrackByFn">
                    <app-hub-port-view class="io-list__item"
                                       [hubIoViewModel]="ioFullInfo"
                    ></app-hub-port-view>
                </li>
            </ul>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #hubNotFound>
    <div class="hub-is-not-connected__container">
        <h2 class="hub-is-not-connected__title">{{ 'hub.isNotConnectedTitle' | transloco }}</h2>
    </div>
</ng-template>
