:host {
    display: flex;
    flex-direction: column;
}

.hub-view {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.io-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;

    &-item {
        width: 100%;
        height: 100%;
    }
}

.hub-is-not-connected-notification {
    font-weight: 300;
    margin: 0;
    padding: 10px 8px;
    font-size: 20px;
}
