<mat-expansion-panel *ngIf="controllerSettings; else controllerWithoutSettings"
                     class="controller-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ controllerNameL10nKey | transloco }}
            <app-not-connected-inline-icon *ngIf="!isConnected"
                                           [notification]="'controller.isNotConnectedInlineNotification' | transloco"
            ></app-not-connected-inline-icon>
        </mat-panel-title>
        <mat-panel-description>
            {{ 'controllerProfiles.settings' | transloco }}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <section class="controller-panel-settings">
        <app-controller-settings-container [controllerSettings]="controllerSettings"></app-controller-settings-container>
    </section>
</mat-expansion-panel>

<ng-template #controllerWithoutSettings>
    <mat-card class="controller-panel">
        <mat-card-header class="controller-without-settings__header">
            <mat-card-title class="controller-without-settings__title">
                {{ controllerNameL10nKey | transloco }}
                <app-not-connected-inline-icon *ngIf="!isConnected"
                                               [notification]="'controller.isNotConnectedInlineNotification' | transloco"
                ></app-not-connected-inline-icon>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</ng-template>
