<ng-container *ngIf="selectedHub$ | ngrxPush; let hub; else hubNotFound">
    <ng-container *ngIf="selectedHubRuntimeData$ | ngrxPush; else hubIsNotConnected">
        <app-hub-properties-view class="hub-properties-view"
                                 [configuration]="hub"
                                 [runtimeData]="selectedHubRuntimeData$ | ngrxPush"
                                 (disconnect)="disconnectHub()"
        ></app-hub-properties-view>

        <ng-container *ngrxLet="ioFullInfoList$ as iosFullInfoList">
            <ul class="io-list"
                *ngIf="iosFullInfoList.length"
            >
                <li *ngFor="let ioFullInfo of iosFullInfoList; trackBy: hubIoTrackByFn">
                    <app-hub-port-view class="io-list__item"
                                       [hubIoViewModel]="ioFullInfo"
                    ></app-hub-port-view>
                </li>
            </ul>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #hubIsNotConnected>
    <app-hint>{{ 'hub.isNotConnected' | transloco:(selectedHub$ | ngrxPush) }}</app-hint>
</ng-template>

<ng-template #hubNotFound>
    <app-hint>{{ 'hub.isNotFound' | transloco }}</app-hint>
</ng-template>
