<app-binding-edit-sections-container *ngIf="form">
    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionOutputTitle' | transloco"
    >
        <app-binding-control-select-hub [control]="form.controls.hubId"
                                        [bindingType]="bindingType"
        ></app-binding-control-select-hub>

        <app-binding-control-select-io [portIdControl]="form.controls.portId"
                                       [hubIdControl]="form.controls.hubId"
                                       [bindingType]="bindingType"
        ></app-binding-control-select-io>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *libHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionInputTitle' | transloco"
    >
        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Accelerate]"
                                               [title]="controlSchemeInputActions.Accelerate | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>

        <app-binding-control-select-input-gain *ngIf="isInputGainConfigurable"
                                               [translocoTitle]="'controlScheme.setSpeedBinding.accelerationInputGainTitle'"
                                               [control]="form.controls.inputs.controls[controlSchemeInputActions.Accelerate].controls.gain"
        ></app-binding-control-select-input-gain>

        <app-binding-control-select-controller [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Brake]"
                                               [title]="controlSchemeInputActions.Brake | controlSchemeInputActionToL10nKey | transloco "
        ></app-binding-control-select-controller>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *libHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionConfigTitle' | transloco"
    >
        <app-binding-control-speed-input [control]="form.controls.maxSpeed"
                                         [translocoTitle]="'controlScheme.setSpeedBinding.outputSpeed'"
        ></app-binding-control-speed-input>
        <app-binding-control-power-input [control]="form.controls.power"></app-binding-control-power-input>

        <lib-toggle-control [translocoTitle]="'controlScheme.outputInvertControlTitle'"
                            [control]="form.controls.invert"
        ></lib-toggle-control>

        <lib-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></lib-toggle-control>

        <lib-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></lib-toggle-control>
    </app-binding-edit-section>
</app-binding-edit-sections-container>
