<ng-container *ngIf="selectedScheme$ | ngrxPush; let scheme; else schemeNotFound">
    <mat-toolbar [color]="'primary'">
        <mat-toolbar-row>
            <span>{{ scheme.name }}</span>
            <span class="spacer"></span>
            <button mat-button *ngIf="canAddBinding$ | ngrxPush" (click)="addBinding(scheme.id)">
                {{ 'addSchemeBinding' | transloco }}
            </button>
            <button mat-button *ngIf="canCancelBinding$ | ngrxPush" (click)="cancelAddBinging()">
                {{ 'cancelAddSchemeBinding' | transloco }}
            </button>
            <span *ngIf="shouldShowBindingHelp$ | ngrxPush">
                <mat-icon [title]="'createBindingHelp' | transloco">
                    help_outline
                </mat-icon>
            </span>

        </mat-toolbar-row>
    </mat-toolbar>

    <section class="bindings-container">
        <app-control-scheme-binding-view *ngFor="let binding of selectSchemeBindings$ | ngrxPush; trackBy: schemeBindingTrackByFn"
                                         class="scheme-binding-view"
                                         [binding]="binding">
        </app-control-scheme-binding-view>
    </section>
</ng-container>

<ng-template #schemeNotFound>
    <section class="scheme-is-not-found">
        <h2>{{ 'schemeIsNotFound' | transloco }}</h2>
    </section>
</ng-template>
