<button mat-raised-button
        [disabled]="!canRun"
        (click)="onRun()"
>
    {{ 'controlScheme.run' | transloco }}
</button>

<button mat-raised-button
        [disabled]="!canStop"
        (click)="onStop()"
>
    {{ 'controlScheme.stop' | transloco }}
</button>

<button *ngIf="canAddBinding; else cannotAddBinding"
        mat-raised-button
        (click)="onAddBinding()"
>
    {{ 'controlScheme.addBinding' | transloco }}
</button>
<ng-template #cannotAddBinding>
    <button mat-raised-button
            [disabled]="true"
            [title]="'controlScheme.cannotCreateBinding' | transloco"
    >
        {{ 'controlScheme.addBinding' | transloco }}
        <span class="cdk-visually-hidden">{{ 'controlScheme.cannotCreateBinding' | transloco }}</span>
    </button>
</ng-template>

<button mat-raised-button
        [disabled]="!canExport"
        (click)="onExport()"
>
    {{ 'controlScheme.export' | transloco }}
</button>
<button mat-raised-button
        [color]="'warn'"
        (click)="onDelete()">
    {{ 'controlScheme.delete' | transloco }}
</button>
