<div class="hub-name"
     appEllipsisTitle>
    {{ name }}
</div>

<ng-container *ngIf="!isConnected">
    <mat-icon color="warn"
              class="hub-is-not-connected-notification"
              [fontIcon]="'link_off'"
              [title]="'hub.notConnected' | transloco"
    ></mat-icon>

    <span class="cdk-visually-hidden">{{ 'hub.notConnected' | transloco }}</span>
</ng-container>

<span class="spacer"></span>

<ng-container *ngIf="isConnected">
    <ng-container *ngIf="isButtonPressed; else buttonNotPressed">
        <mat-icon [title]="'hub.buttonStateTitle' | transloco"
                  class="button-state"
                  [class.muted]="!isConnected"
                  [fontIcon]="'radio_button_checked'"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'hub.buttonState' | transloco: { isButtonPressed } }}</span>
    </ng-container>

    <ng-template #buttonNotPressed>
        <mat-icon [title]="'hub.buttonStateTitle' | transloco"
                  class="button-state"
                  [class.muted]="!isConnected"
                  [fontIcon]="'radio_button_off'"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'hub.buttonState' | transloco: { isButtonPressed } }}</span>
    </ng-template>

    <ng-container *ngIf="batteryLevel !== null">
        <mat-icon class="battery-level"
                  [title]="'hub.batteryLevel' | transloco: { batteryLevel }"
                  [fontIcon]="batteryLevelIcon"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'hub.batteryLevel' | transloco: { batteryLevel } }}</span>
    </ng-container>

    <ng-container *ngIf="rssiLevel !== null">
        <mat-icon class="rssi-level"
                  [title]="'hub.rssiLevel' | transloco: { rssi: rssiLevel }"
                  [fontIcon]="rssiLevelIcon"
        ></mat-icon>
        <span class="cdk-visually-hidden">{{ 'hub.rssiLevel' | transloco: { rssi: rssiLevel } }}</span>
    </ng-container>

    <mat-icon class="has-communication-icon"
              [class.muted]="!hasCommunication"
              [fontIcon]="'multiple_stop'"
    ></mat-icon>
</ng-container>

<ng-container *ngIf="showControls">
    <a *ngIf="isConnected"
       mat-button
       class="view-button"
       [routerLink]="hubViewHref"
    >
        {{ 'hub.view' | transloco }}
    </a>

    <button *ngIf="isConnected"
            mat-button
            class="disconnect-button"
            (click)="onDisconnectClick()"
    >
        {{ 'hub.disconnect' | transloco }}
    </button>

    <button *ngIf="!isConnected"
            mat-button
            class="forget-button"
            color="warn"
            (click)="onForgerClick()"
    >
        {{ 'hub.forget' | transloco }}
    </button>
</ng-container>
