:host {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hub-name {
    flex-grow: 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.hub-is-not-connected-notification {
    margin-left: 10px;
    flex-grow: 1;
}

.spacer {
    flex: 1;
}

.battery-level,
.rssi-level,
.button-state,
.disconnect-button,
.view-button,
.has-communication-icon {
    margin-left: 10px;
}

.muted {
    opacity: 30%;
}
