:host {
    display: block;
    flex-grow: 1;
}

.add-level-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.add-level-button {
    width: 100%;
}

.speed-level-form-field {
    width: 100%;
}

.sections-divider {
    margin: 20px 0;
}
