<mat-card>
    <mat-card-content *ngIf="binding" class="card-content">
        <app-binding-select-operation-mode [control]="binding.controls.bindingFormOperationMode"
                                           [availabilityData]="availabilityData"
        ></app-binding-select-operation-mode>

        <app-binding-select-hub [control]="binding.controls[binding.controls.bindingFormOperationMode.value].controls.hubId"
                                [operationMode]="binding.controls.bindingFormOperationMode.value"
                                [availabilityData]="availabilityData"
        ></app-binding-select-hub>

        <app-binding-control-select-io [control]="binding.controls[binding.controls.bindingFormOperationMode.value].controls.portId"
                                       [operationMode]="binding.controls.bindingFormOperationMode.value"
                                       [hubId]="binding.controls[binding.controls.bindingFormOperationMode.value].controls.hubId.value"
                                       [availabilityData]="availabilityData"
        ></app-binding-control-select-io>

        <div *appRenderBindingDetailsEdit="binding"></div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-button
                [color]="'warn'"
                (click)="onDelete()"
        >
            {{ 'controlScheme.deleteBinding' | transloco }}
        </button>
    </mat-card-actions>
</mat-card>
