<mat-card *ngIf="configuration && stats">
    <mat-card-header>
        <mat-card-subtitle>
            {{ configuration.hubType | hubTypeToL10nKey | transloco }}
        </mat-card-subtitle>
        <mat-card-title appEllipsisTitle>
            {{ configuration.name }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ 'hub.buttonState' | transloco: stats }}
        </p>
        <p *ngIf="stats.batteryLevel !== null; else batteryLevelUnknown">
            {{ 'hub.batteryLevel' | transloco: stats }}
        </p>
        <ng-template #batteryLevelUnknown>
            <p>{{ 'hub.batteryLevelUnknown' | transloco }}</p>
        </ng-template>
        <p *ngIf="stats.rssi !== null; else rssiLevelUnknown">
            {{ 'hub.rssiLevel' | transloco: stats }}
        </p>
        <ng-template #rssiLevelUnknown>
            <p>{{ 'hub.rssiLevelUnknown' | transloco }}</p>
        </ng-template>
    </mat-card-content>
</mat-card>

<div *appFeatureToolbarControls
     class="toolbar-panel"
>
    <a mat-raised-button
       [routerLink]="hubEditRoute"
    >
        {{ 'hub.edit' | transloco }}
    </a>
    <button mat-raised-button
            (click)="onDisconnect()"
    >
        {{ 'hub.disconnect' | transloco }}
    </button>
</div>
