<mat-card *ngIf="configuration && stats">
    <mat-card-header>
        <mat-card-subtitle>
            <ng-container *ngIf="hubTypeL10nMap[configuration.hubType]; let hubTypeL10nKey; else hubTypeUnknown">
                {{ hubTypeL10nKey | transloco }}
            </ng-container>
            <ng-template #hubTypeUnknown>
                {{ 'hubTypes.unknown' | transloco }}
            </ng-template>
        </mat-card-subtitle>
        <mat-card-title appEllipsisTitle>
            <h2>
                {{ configuration.name }}
            </h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ 'hub.buttonState' | transloco: stats }}
        </p>
        <p *ngIf="stats.batteryLevel !== null; else batteryLevelUnknown">
            {{ 'hub.batteryLevel' | transloco: stats }}
        </p>
        <ng-template #batteryLevelUnknown>
            <p>{{ 'hub.batteryLevelUnknown' | transloco }}</p>
        </ng-template>
        <p *ngIf="stats.rssi !== null; else rssiLevelUnknown">
            {{ 'hub.rssiLevel' | transloco: stats }}
        </p>
        <ng-template #rssiLevelUnknown>
            <p>{{ 'hub.rssiLevelUnknown' | transloco }}</p>
        </ng-template>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <a [routerLink]="hubEditRoute" mat-button>{{ 'hub.edit' | transloco }}</a>
        <button mat-button (click)="onDisconnect()">{{ 'hub.disconnect' | transloco }}</button>
    </mat-card-actions>
</mat-card>
