<div>
    {{ gamepadNameL10nKey$ | ngrxPush | transloco }}
</div>

<ng-container [ngSwitch]="inputMethod$ | ngrxPush">
    <ng-container *ngSwitchCase="inputMethods.Button">
        <ng-container *ngrxLet="buttonConfig$ | ngrxPush; let buttonConfig">
            <ng-container [ngSwitch]="buttonConfig!.buttonType">
                <div *ngSwitchCase="gamepadButtonsTypes.Button">
                    {{ (buttonConfig$ | ngrxPush)?.nameL10nKey | transloco }} | {{ 'gamepadPlugins.gamepadButtonState' | transloco: (buttonValue$ | ngrxPush) }}
                </div>
                <div *ngSwitchCase="gamepadButtonsTypes.Trigger">
                    {{ (buttonConfig$ | ngrxPush)?.nameL10nKey | transloco }} | {{ (buttonValue$ | ngrxPush)?.value }}
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="inputMethods.Axis">
        {{ (axisConfig$ | ngrxPush)?.nameL10nKey | transloco }} | {{ axisValue$ | ngrxPush }}
    </ng-container>
</ng-container>
