<ng-container *ngIf="form">
    <app-controller-select [operationMode]="setAngleHubIoOperationMode"
                           [inputFormGroup]="form.controls.input"
                           [title]="'controlScheme.bindingGenericInputTitle' | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.input.valid">
        <app-binding-control-num-input [translocoTitle]="'controlScheme.setAngleOutputConfigurationAngle'"
                                       [control]="form.controls.angle"
                                       [min]="motorLimits.minRawAngle"
                                       [max]="motorLimits.maxRawAngle"
        ></app-binding-control-num-input>

        <app-slider-control [min]="0"
                            [max]="motorLimits.maxSpeed"
                            [control]="form.controls.speed"
                            [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
        ></app-slider-control>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.outputPowerControlTitle'"
        ></app-slider-control>

        <app-binding-control-output-end-state [control]="form.controls.endState"
                                              [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-binding-control-output-end-state>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
