<mat-form-field *ngIf="control"
                class="form-field"
>
    <mat-label>{{ 'controlScheme.bindingOutputSectionOperationModeLabel' | transloco }}</mat-label>
    <mat-select [formControl]="control">
        <ng-container *ngIf="availableBindingTypes?.length">
            <mat-option *ngFor="let bindingType of availableBindingTypes"
                        [value]="bindingType">
                {{ bindingType | bindingTypeToL10nKey | transloco }}
            </mat-option>
        </ng-container>
        <mat-option *ngIf="isBindingTypeUnsupported$ | ngrxPush"
                    [value]="control.value"
        >
            {{ 'controlScheme.unsupportedBindingType' | transloco: { bindingType: control.value | bindingTypeToL10nKey | transloco } }}
        </mat-option>
    </mat-select>
</mat-form-field>
