<div class="port-name"
     appEllipsisTitle
>
    {{ 'hub.port' | transloco: { portId } }}
</div>

<div *ngIf="ioType"
     class="io-type"
     appEllipsisTitle
>
    {{ ioType | ioTypeToL10nKey | transloco }}
</div>

<ng-container *ngIf="!isConnected">
    <mat-icon color="warn"
              class="io-is-not-connected-notification"
              [fontIcon]="'link_off'"
              [title]="'io.ioIsNotConnectedInlineNotification' | transloco"
    ></mat-icon>

    <span class="cdk-visually-hidden">{{ 'io.ioIsNotConnectedInlineNotification' | transloco }}</span>
</ng-container>
