<mat-card *ngIf="configuration">
    <mat-card-header>
        <mat-card-subtitle>
            <ng-container *ngIf="hubTypeL10nMap[configuration.hubType]; let hubTypeL10nKey; else hubTypeUnknown">
                {{ hubTypeL10nKey | transloco }}
            </ng-container>
            <ng-template #hubTypeUnknown>
                {{ 'hubTypeUnknown' | transloco }}
            </ng-template>
        </mat-card-subtitle>
        <mat-card-title>{{ configuration.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ 'hubButtonState' | transloco: configuration }}
        </p>
        <p *ngIf="configuration.batteryLevel !== null; else batteryLevelUnknown">
            {{ 'hubBatteryLevel' | transloco: configuration }}
        </p>
        <ng-template #batteryLevelUnknown>
            <p>{{ 'hubBatteryLevelUnknown' | transloco }}</p>
        </ng-template>
        <p *ngIf="configuration.RSSI !== null; else rssiLevelUnknown">
            {{ 'hubRSSILevel' | transloco: configuration }}
        </p>
        <ng-template #rssiLevelUnknown>
            <p>{{ 'hubRSSILevelUnknown' | transloco }}</p>
        </ng-template>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="[hubEditSubroute]" mat-button>{{ 'editHub' | transloco }}</a>
        <button mat-button (click)="onDisconnect()">{{ 'disconnectHub' | transloco }}</button>
    </mat-card-actions>
</mat-card>
