<mat-expansion-panel *ngIf="controllerSettings; else controllerWithoutSettings"
                     class="controller-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon *ngIf="controllerType !== undefined"
                      class="controller-icon"
                      [class.controller-icon_not-connected]="!isConnected"
                      [fontIcon]="controllerType! | controllerTypeIconName"
            ></mat-icon>
            <span class="controller-name"
                  [class.controller-name_not-connected]="!isConnected"
            >
                {{ controllerName$ | ngrxPush }}
            </span>
            <ng-container *ngIf="controllerSettings.ignoreInput">
                <mat-icon *ngIf="controllerSettings.ignoreInput"
                          [fontIcon]="'do_not_disturb_on'"
                          [title]="'controller.inputIsIgnored' | transloco"
                          class="controller-panel__ignore-input-icon"
                ></mat-icon>
                <span class="cdk-visually-hidden">{{ 'controller.inputIsIgnored' | transloco }}</span>
            </ng-container>
            <span *ngIf="!isConnected"
                  class="cdk-visually-hidden"
            >
                {{ 'controller.isNotConnectedInlineNotification' | transloco }}
            </span>
        </mat-panel-title>
        <mat-panel-description>
            {{ 'controllerProfiles.settings' | transloco }}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <section class="controller-panel-settings">
        <app-controller-settings-container [controllerSettings]="controllerSettings"></app-controller-settings-container>
    </section>
</mat-expansion-panel>

<ng-template #controllerWithoutSettings>
    <mat-card class="controller-panel">
        <mat-card-header class="controller-without-settings__header">
            <mat-card-title class="controller-without-settings__title">
                <mat-icon *ngIf="controllerType !== undefined"
                          class="controller-icon"
                          [class.controller-icon_not-connected]="!isConnected"
                          [fontIcon]="controllerType! | controllerTypeIconName"
                ></mat-icon>
                <span class="controller-name"
                      [class.controller-name_not-connected]="!isConnected"
                >
                    {{ controllerName$ | ngrxPush }}
                </span>
                <span *ngIf="!isConnected"
                      class="cdk-visually-hidden"
                >
                    {{ 'controller.isNotConnectedInlineNotification' | transloco }}
                </span>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</ng-template>
