:host {
    display: flex;
    align-items: center;
}

.controller-panel {
    width: 100%;

    &__ignore-input-icon {
        margin-left: 10px;
        color: var(--app-disabled-color);
    }
}

.controller-icon {
    margin-right: 10px;

    &_not-connected {
        color: var(--app-disabled-color);
    }
}

.controller-panel-settings {
    margin-left: 20px;
}

.controller-without-settings {
    &__header {
        height: 48px;
        padding: 0 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__title {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
    }
}

.controller-name {
    &_not-connected {
        color: var(--app-disabled-color);
    }
}
