<ng-container *ngIf="selectedScheme$ | ngrxPush; let scheme; else schemeNotFound">
    {{ scheme | json }}
    <div>
        Queue length: {{ queueLength$ | ngrxPush }}
    </div>
    <div>
        Max queue length: {{ maxQueueLength$ | ngrxPush }}
    </div>
    <div>
        Total tasks executed: {{ totalTasksExecuted$ | ngrxPush }}
    </div>
    <div>
        Last 10 tasks average task execution time: {{ lastTenTaskAverageExecutionTime$ | ngrxPush }}ms
    </div>

    <mat-card>
        <mat-card-actions>
            <button *ngIf="(canRunScheme$ | ngrxPush)!.canRun; else cannotRunSchemeTemplate"
                    mat-button
                    (click)="runScheme(scheme.id)">
                Run
            </button>

            <ng-template #cannotRunSchemeTemplate>
                <button *ngIf="(runningSchemeId$ | ngrxPush) === scheme.id"
                        mat-button
                        (click)="stopRunningScheme()">
                    Stop
                </button>
            </ng-template>
        </mat-card-actions>
        <mat-card-content>
            <pre>{{ canRunScheme$ | ngrxPush | json }}</pre>
        </mat-card-content>
    </mat-card>
</ng-container>

<ng-template #schemeNotFound>
    <section class="scheme-is-not-found">
        <h2>{{ 'schemeIsNotFound' | transloco }}</h2>
    </section>
</ng-template>
