<ng-container *ngIf="selectedScheme$ | ngrxPush; let scheme; else schemeNotFound">
    {{ scheme | json }}

    <mat-card *ngrxLet="canRunScheme$ | ngrxPush; let canRunScheme">
        <ng-container [ngSwitch]="canRunScheme!.canRun">
            <mat-card-actions *ngSwitchCase="true">
                <button mat-button
                        (click)="runScheme(scheme.id)">
                    Run
                </button>
            </mat-card-actions>
            <mat-card-content *ngSwitchCase="false">
                <pre>{{ canRunScheme | json }}</pre>
            </mat-card-content>
        </ng-container>

    </mat-card>
</ng-container>

<ng-template #schemeNotFound>
    <section class="scheme-is-not-found">
        <h2>{{ 'schemeIsNotFound' | transloco }}</h2>
    </section>
</ng-template>
