<ng-container *ngIf="viewModel">
    <ng-container *ngFor="let axis of viewModel.axes"
    >
        <div class="axis-configuration">
            <div class="axis-configuration__info">
                <h3 class="axis-configuration__info-title">{{ axis.name$ | ngrxPush }}</h3>
                <div class="axis-configuration__input-output-diagram-container mat-elevation-z1">
                    <app-input-output-diagram class="axis-configuration__input-output-diagram"
                                              [translocoTitle]="'controller.rawInput'"
                                              [rawValue]="axis.rawValue$ | ngrxPush"
                                              [outputValue]="axis.outputValue$ | ngrxPush"
                                              [activeZoneStart]="axis.activeZoneStartControl.value"
                                              [activeZoneEnd]="axis.activeZoneEndControl.value"
                    ></app-input-output-diagram>
                </div>
            </div>

            <mat-divider [vertical]="true"></mat-divider>

            <div class="axis-configuration__content">
                <div class="axis-configuration__items">

                    <app-range-control class="axis-configuration__item"
                                       [startControl]="axis.activeZoneStartControl"
                                       [endControl]="axis.activeZoneEndControl"
                                       [min]="0"
                                       [max]="1"
                                       [step]="0.01"
                    >
                        <span startLabel>{{ axis.activeZoneStartControl.value | activeZoneHumanReadableValue }}</span>
                        <span endLabel>{{ axis.activeZoneEndControl.value | activeZoneHumanReadableValue }}</span>
                        <span description>{{ 'controller.activeZone' | transloco }}</span>
                    </app-range-control>
                    <app-toggle-control [translocoTitle]="'controller.invert'"
                                        [control]="axis.invertControl"
                    ></app-toggle-control>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </ng-container>
</ng-container>
