:host {
    display: flex;
    flex-direction: column;
}

.scheme-raw,
.binding-actions,
.binding {
    margin-bottom: 20px;
}

.binding-details {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1px minmax(200px, 1fr) 1px minmax(200px, 1fr);
    grid-gap: 20px;
    margin: 0 10px;

    &_small-screen {
        display: flex;
        flex-direction: column;
    }
}

.binding-actions {
    display: flex;
    justify-content: flex-end;
}
