<mat-form-field>
    <mat-label>{{ 'schemeEditNameField' | transloco }}</mat-label>
    <input type="text"
           [formControl]="form.controls.name"
           matInput
    />
</mat-form-field>

<mat-card *ngFor="let binding of form.controls.bindings.controls; let index = index"
          class="binding"
>
    <mat-card-content class="binding-details"
                      [class.binding-details_small-screen]="isSmallScreen"
    >
        <app-control-scheme-binding-input [inputFormGroup]="binding.controls.input"></app-control-scheme-binding-input>
        <mat-divider *ngIf="!isSmallScreen"
                     [vertical]="true"
        ></mat-divider>
        <app-control-scheme-binding-output [formGroup]="binding"></app-control-scheme-binding-output>
        <mat-divider *ngIf="!isSmallScreen"
                     [vertical]="true"
        ></mat-divider>
        <app-control-scheme-binding-configuration [formGroup]="binding"></app-control-scheme-binding-configuration>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-flat-button
                (click)="removeBindingIndex(index)"
        >
            {{ 'deleteSchemeBinding' | transloco }}
        </button>
    </mat-card-actions>
</mat-card>

<section class="binding-actions">
    <button mat-fab
            [title]="'addSchemeBinding' | transloco"
            [disabled]="!(canAddBinding$ | ngrxPush)"
            (click)="addBinding()"
    >
        <mat-icon>add</mat-icon>
    </button>
</section>
