:host {
    display: flex;
    flex-direction: column;
}

.bindings-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.binding {
    min-width: 400px;
    max-width: 800px;
}

.toolbar-button {
    margin-left: 10px;
}
