<mat-form-field>
    <mat-label>{{ 'schemeEditNameField' | transloco }}</mat-label>
    <input type="text"
           [formControl]="form.controls.name"
           matInput
    />
</mat-form-field>

<mat-card *ngFor="let binding of form.controls.bindings.controls; let index = index"
          class="binding"
>
    <mat-card-content class="binding-details">
        <app-control-scheme-binding-input [inputFormGroup]="binding.controls.input"></app-control-scheme-binding-input>
        <mat-divider [vertical]="true"></mat-divider>
        <app-control-scheme-binding-output [formGroup]="binding"></app-control-scheme-binding-output>
        <mat-divider [vertical]="true"></mat-divider>
        <app-control-scheme-binding-configuration [formGroup]="binding"></app-control-scheme-binding-configuration>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-flat-button
                (click)="removeBindingIndex(index)"
        >
            {{ 'deleteSchemeBinding' | transloco }}
        </button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="canCancelBinding$ | ngrxPush"
          class="binding">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <mat-card-header>
        <mat-card-title>{{ 'createBindingHelp' | transloco }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions [align]="'end'">
        <button mat-flat-button
                (click)="cancelAddBinging()">
            {{ 'cancelAddSchemeBinding' | transloco }}
        </button>
    </mat-card-actions>
</mat-card>

<mat-accordion class="scheme-raw">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Raw scheme
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
            <pre>{{ form.value | json }}</pre>
        </mat-card-content>
    </mat-expansion-panel>
</mat-accordion>

<section class="binding-actions">
    <button mat-fab
            [title]="'addSchemeBinding' | transloco"
            [disabled]="!(canAddBinding$ | ngrxPush)"
            (click)="addBinding()"
    >
        <mat-icon>add</mat-icon>
    </button>
</section>
