<ng-container *ngIf="data">
    <span class="virtual-port__name">
        {{ 'controlScheme.virtualPortTitle' | transloco: data }}
    </span>

    <ng-container *ngIf="data.expectedIOTypes[0] !== data.children[0].ioType">
        <mat-icon class="virtual-port__warning-icon"
                  [fontIcon]="'warning'"
                  [color]="'warn'"
                  [title]="'controlScheme.virtualPortIoTypeMismatch' | transloco: data.children[0]"
        ></mat-icon>
        <span class="cdk-visually-hidden">
            {{ 'controlScheme.virtualPortIoTypeMismatch' | transloco: data.children[0] }}
        </span>
    </ng-container>

    <ng-container *ngIf="data.expectedIOTypes[1] !== data.children[1].ioType">
        <mat-icon class="virtual-port__warning-icon"
                  [fontIcon]="'warning'"
                  [color]="'warn'"
                  [title]="'controlScheme.virtualPortIoTypeMismatch' | transloco: data.children[1]"
        ></mat-icon>
        <span class="cdk-visually-hidden">
            {{ 'controlScheme.virtualPortIoTypeMismatch' | transloco: data.children[1] }}
        </span>
    </ng-container>
</ng-container>
