:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.spacer {
    flex: 1;
}

.scheme-is-not-found {
    font-weight: 300;
    margin: 0;
    padding: 10px 8px;
    font-size: 20px;
}

.toolbar-button {
    margin-left: 10px;
}
