<mat-toolbar [color]="'primary'" class="toolbar">
    <mat-toolbar-row>
        <span>{{ 'controlSchemeCreateToolbarTitle' | transloco }}</span>
        <span class="spacer"></span>
        <button mat-stroked-button
                [disabled]="!editForm.isValid"
                (click)="onSave(editForm.getFormValue())"
        >
            {{ 'saveCreatedScheme' | transloco }}
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<app-control-scheme-edit-form class="edit-form"
                              #editForm
></app-control-scheme-edit-form>
