<app-feature-toolbar [title]="'controlSchemeCreateToolbarTitle' | transloco">
    <span class="spacer"></span>
    <button mat-stroked-button
            class="toolbar-button"
            [disabled]="!editForm.isValid"
            (click)="onSave(editForm.getFormValue())"
    >
        {{ 'saveCreatedScheme' | transloco }}
    </button>
    <a mat-stroked-button
       class="toolbar-button"
       [routerLink]="cancelRoute"
    >
        {{ 'cancelCreateScheme' | transloco }}
    </a>
</app-feature-toolbar>

<app-feature-content-container>
    <app-control-scheme-edit-form #editForm></app-control-scheme-edit-form>
</app-feature-content-container>
