:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.spacer {
    flex: 1;
}

.edit-form {
    padding: 20px;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

.toolbar {
    flex-shrink: 0;
}
