<a mat-line [routerLink]="hubViewHref" class="hub-name">
    {{ name }}
</a>

<mat-icon *ngIf="batteryLevel !== null"
          class="battery-level"
          [title]="batteryLevel"
>
    {{ batteryLevelIcon }}
</mat-icon>

<mat-icon *ngIf="rssiLevel !== null"
          class="rssi-level"
          [title]="rssiLevel"
>
    {{ rssiLevelIcon }}
</mat-icon>

<button mat-icon-button
        color="accent"
        class="disconnect-button"
        [title]="'disconnectHub' | transloco"
        (click)="onDisconnectClick()"
>
    <mat-icon>delete</mat-icon>
</button>
