@import "./assets/_vars";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mat-mdc-card-header-text {
    overflow: hidden; // allow ellipsis in card header
    width: 100%; // allow full-width sub-headers
}
