<ng-container *ngIf="form">
    <app-controller-select [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Step]"
                           [title]="controlSchemeInputActions.Step | controlSchemeInputActionToL10nKey | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.inputs.valid">
        <app-binding-control-num-input [controlTitle]="'controlScheme.stepperBinding.outputDegree' | transloco"
                                       [control]="form.controls.degree"
                                       [min]="minStepperDegree"
                                       [max]="maxStepperDegree"
        ></app-binding-control-num-input>

        <app-slider-control [min]="minSpeed"
                            [max]="maxSpeed"
                            [control]="form.controls.speed"
                            [translocoTitle]="'controlScheme.stepperBinding.outputSpeed'"
        ></app-slider-control>

        <app-slider-control [min]="minPower"
                            [max]="maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.stepperBinding.outputPower'"
        ></app-slider-control>

        <app-binding-control-output-end-state [control]="form.controls.endState"
                                              [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-binding-control-output-end-state>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
