<app-binding-edit-sections-container *ngIf="form">
    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionOutputTitle' | transloco"
    >
        <app-binding-select-hub [control]="form.controls.hubId"
                                [bindingType]="bindingType"
        ></app-binding-select-hub>

        <app-binding-control-select-io [portIdControl]="form.controls.portId"
                                       [hubId]="form.controls.hubId.value"
                                       [bindingType]="bindingType"
        ></app-binding-control-select-io>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *appHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionInputTitle' | transloco"
    >
        <app-controller-select [inputFormGroup]="form.controls.inputs.controls[controlSchemeInputActions.Step]"
                               [title]="controlSchemeInputActions.Step | controlSchemeInputActionToL10nKey | transloco "
        ></app-controller-select>
    </app-binding-edit-section>

    <mat-divider [vertical]="true" *appHideOnSmallScreen></mat-divider>

    <app-binding-edit-section [largeScreenWidthPercentage]="33"
                              [caption]="'controlScheme.bindingSectionConfigTitle' | transloco"
    >
        <mat-form-field>
            <mat-label>
                {{ 'controlScheme.stepperBinding.outputDegree' | transloco }}
            </mat-label>
            <input type="number"
                   matInput
                   [formControl]="form.controls.degree"
                   [min]="minStepperDegree"
                   [max]="maxStepperDegree"
            />
        </mat-form-field>

        <app-slider-control [min]="minSpeed"
                            [max]="maxSpeed"
                            [control]="form.controls.speed"
                            [translocoTitle]="'controlScheme.stepperBinding.outputSpeed'"
        ></app-slider-control>

        <app-slider-control [min]="minPower"
                            [max]="maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.stepperBinding.outputPower'"
        ></app-slider-control>

        <app-binding-control-output-end-state [control]="form.controls.endState"
                                              [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-binding-control-output-end-state>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </app-binding-edit-section>
</app-binding-edit-sections-container>
