<ng-container *ngIf="form">
    <app-controller-select [acceptableInputTypes]="acceptableInputTypes"
                           [inputFormGroup]="form.controls.inputs.controls.step"
                           [title]="'controlScheme.stepperInput' | transloco "
    ></app-controller-select>

    <ng-container *ngIf="form.controls.inputs.valid">
        <app-binding-control-num-input [translocoTitle]="'controlScheme.stepperOutputConfigurationDegree'"
                                       [control]="form.controls.degree"
                                       [min]="minStepperDegree"
                                       [max]="maxStepperDegree"
        ></app-binding-control-num-input>

        <app-slider-control [min]="minSpeed"
                            [max]="maxSpeed"
                            [control]="form.controls.speed"
                            [translocoTitle]="'controlScheme.outputSpeedControlTitle'"
        ></app-slider-control>

        <app-slider-control [min]="minPower"
                            [max]="maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.outputPowerControlTitle'"
        ></app-slider-control>

        <app-binding-control-output-end-state [control]="form.controls.endState"
                                              [translocoTitle]="'controlScheme.outputEndStateControlTitle'"
        ></app-binding-control-output-end-state>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
