<ng-container *transloco="let t; " [ngSwitch]="controllerConnectionState$ | ngrxPush">
    <ng-container *ngSwitchCase="controllerConnectionStates.NotConnected">
        <app-controller-type-select #selectedControllerType
                                    [ngModel]="connectedControllerType$ | ngrxPush"
        ></app-controller-type-select>
        <button (click)="onControllerListeningStart(selectedControllerType.value)"
                *ngIf="isControllerTypeSelected(selectedControllerType.value)"
                mat-button>
            {{ 'configureController.connect' | transloco }}
        </button>
    </ng-container>

    <ng-container *ngSwitchCase="controllerConnectionStates.Listening">
        <button (click)="cancelListening()" mat-button>
            {{ 'configureController.cancelListening' | transloco }}
        </button>
    </ng-container>

    <ng-container *ngIf="controllerConnectionStates.Connected">
        <ng-container [ngSwitch]="connectedControllerType$ | ngrxPush">
            <ng-container *ngSwitchCase="controllerTypes.GamePad">
                <ng-container *ngrxLet="controllerConfig$ as controllerConfig">
                    <ng-container *ngIf="controllerConfig">
                        <div *ngIf="controllerConfig.nameL10nKey">
                            {{ controllerConfig.nameL10nKey | transloco }}
                        </div>
                        <div>
                            <button (click)="disconnectGamepad(controllerConfig.index)" [color]="'warn'"
                                    mat-button>{{ 'configureController.disconnect' | transloco }}</button>
                        </div>
                        <div [ngSwitch]="connectedControllerType$ | ngrxPush">
                            <app-controller-gamepad-view *ngSwitchCase="controllerTypes.GamePad"
                                                         [controllerConfig]="controllerConfig"
                                                         [controllerState]="controllerState$ | ngrxPush"
                            ></app-controller-gamepad-view>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="controllerTypes.Keyboard">
                <div>
                    {{ 'configureController.keyboardController' | transloco }}
                </div>
                <div>
                    <button (click)="disconnectKeyboard()" [color]="'warn'"
                            mat-button>{{ 'configureController.disconnect' | transloco }}</button>
                </div>
                <app-controller-keyboard-view *ngSwitchCase="controllerTypes.Keyboard"
                                              [controllerState]="controllerState$ | ngrxPush"></app-controller-keyboard-view>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
