<ng-container *ngIf="form">
    <app-controller-select [inputFormGroup]="form.controls.inputs.controls.nextSpeed"
                           [title]="'controlScheme.speedShiftBinding.inputNextSpeed' | transloco "
                           [acceptableInputTypes]="acceptableInputTypes"
    ></app-controller-select>

    <ng-container *ngIf="isNextSpeedControlAssigned">
        <app-controller-select [inputFormGroup]="form.controls.inputs.controls.prevSpeed"
                               [title]="'controlScheme.speedShiftBinding.inputPrevSpeed' | transloco "
                               [acceptableInputTypes]="acceptableInputTypes"
        ></app-controller-select>

        <app-controller-select [inputFormGroup]="form.controls.inputs.controls.stop"
                               [title]="'controlScheme.speedShiftBinding.inputStop' | transloco "
                               [acceptableInputTypes]="acceptableInputTypes"
        ></app-controller-select>

        <div class="add-level-button-container">
            <button class="add-level-button"
                    mat-raised-button
                    (click)="addNextSpeedControl()">
                {{ 'controlScheme.speedShiftBinding.outputLevelAdd' | transloco }}
            </button>
        </div>

        <div *ngFor="let speedControl of form.controls.levels.controls; let idx = index"
             class="level-input-container"
        >
            <app-binding-control-num-input [control]="speedControl"
                                           class="level-input"
                                           [controlTitle]="'controlScheme.speedShiftBinding.level' | transloco: { level: form.controls.initialStepIndex.value - idx }"
                                           [min]="motorLimits.minSpeed"
                                           [max]="motorLimits.maxSpeed"
            ></app-binding-control-num-input>
            <button mat-icon-button
                    [disabled]="form.controls.initialStepIndex.value === idx"
                    (click)="removeSpeedControl(idx)"
            >
                <mat-icon [fontIcon]="'delete'"></mat-icon>
                <span class="cdk-visually-hidden">{{ 'controlScheme.speedShiftBinding.outputLevelRemove' | transloco }}</span>
            </button>
        </div>

        <div class="add-level-button-container">
            <button class="add-level-button"
                    mat-raised-button
                    (click)="addPrevSpeedControl()">
                {{ 'controlScheme.speedShiftBinding.outputLevelAdd' | transloco }}
            </button>
        </div>

        <app-slider-control [min]="motorLimits.minPower"
                            [max]="motorLimits.maxPower"
                            [control]="form.controls.power"
                            [translocoTitle]="'controlScheme.linearBinding.outputPower'"
        ></app-slider-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useAccelerationProfile'"
                            [control]="form.controls.useAccelerationProfile"
        ></app-toggle-control>

        <app-toggle-control [translocoTitle]="'controlScheme.useDecelerationProfile'"
                            [control]="form.controls.useDecelerationProfile"
        ></app-toggle-control>
    </ng-container>
</ng-container>
